openapi: 3.2.0
info:
  title: Saasxl-api doc MCP Connectors API
  version: '1.0'
  description: Register MCP server OAuth2 credentials via auto-discovery. Supports authorization_code (redirect) and client_credentials (immediate) flows.
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: MCP Connectors
  description: Register MCP server OAuth2 credentials via auto-discovery. Supports authorization_code (redirect) and client_credentials (immediate) flows.
paths:
  /connector/api/v1/mcp/credential:
    post:
      tags:
      - MCP Connectors
      summary: Initiate MCP OAuth2 credential registration
      description: Discovers OAuth2 metadata from the MCP URL and auto-detects grant type. Returns authorizationUrl when the MCP server requires authorization_code flow (user must be redirected there). Returns credentialId immediately for client_credentials servers.
      operationId: initiateMcpAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpOAuth2CredentialRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/McpOAuth2CredentialResponseDTO'
  /connector/api/v1/mcp/callback:
    get:
      tags:
      - MCP Connectors
      summary: MCP OAuth2 redirect callback
      description: 'Handles the OAuth redirect from the MCP authorization server: OAuth2 error responses (error, error_description, error_uri), or success with authorization code exchange (client_secret_post, client_secret_basic, public client / none), then redirects the browser to the UI.'
      operationId: mcpCallback
      parameters:
      - name: state
        in: query
        description: Opaque state linking this callback to the original /credential request
        required: false
        schema:
          type: string
      - name: code
        in: query
        required: false
        schema:
          type: string
      - name: error
        in: query
        required: false
        schema:
          type: string
      - name: error_description
        in: query
        required: false
        schema:
          type: string
      - name: error_uri
        in: query
        required: false
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
components:
  schemas:
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    McpOAuth2CredentialRequestDTO:
      required:
      - mcpUrl
      type: object
      properties:
        mcpUrl:
          type: string
        name:
          type: string
        redirectUri:
          type: string
        clientRedirectUri:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
        discoveryUrl:
          type: string
        tokenEndpoint:
          type: string
        authorizationEndpoint:
          type: string
        scopes:
          type: string
    McpOAuth2CredentialResponseDTO:
      type: object
      properties:
        credentialId:
          type: integer
          format: int64
        mcpUrl:
          type: string
        authorizationUrl:
          type: string
        flow:
          type: string
        uiRedirectUri:
          type: string
        clientRedirectUri:
          type: string
        mcpConfigParams:
          type: object
          additionalProperties:
            type: string
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
