openapi: 3.2.0
info:
  title: Saasxl-api doc Connector Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: connector-controller
paths:
  /connector/api/v1/update:
    put:
      tags:
      - connector-controller
      description: updates connector-type example jira
      operationId: connectorUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenApiInfo'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOOpenApiInfo'
  /connector/api/v1/instance/{id}:
    put:
      tags:
      - connector-controller
      description: update instance of  connector instance id
      operationId: updateUserConnectorCredentialInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConnectorCredentialDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOUserConnectorCredentialDTO'
    delete:
      tags:
      - connector-controller
      operationId: deleteUserConnectorCredentialInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /connector/api/v1/credential-metadata/{id}:
    put:
      tags:
      - connector-controller
      operationId: updateConnectorCredentialInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorCredentialDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOConnectorCredentialDTO'
    delete:
      tags:
      - connector-controller
      operationId: deleteConnectorCredentialInfo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /connector/api/v1/run:
    post:
      tags:
      - connector-controller
      operationId: connectorRun
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRunDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlHttpResponseObject'
  /connector/api/v1/register:
    post:
      tags:
      - connector-controller
      description: creates new connector-type example jira
      operationId: connectorRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenApiInfo'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOOpenApiInfo'
  /connector/api/v1/register/openapi:
    post:
      tags:
      - connector-controller
      operationId: registerConnectorByOpenApiSpec
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenApiConnectorRegistrationRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOOpenApiInfo'
  /connector/api/v1/instance:
    get:
      tags:
      - connector-controller
      description: To get  all instances by userId
      operationId: getAllConnectorsByUserId
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOListUserConnectorCredentialDTO'
    post:
      tags:
      - connector-controller
      description: creating instance of existing connector by passing base url and other config and returns the connector instance id
      operationId: createUserConnectorCredentialInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConnectorCredentialDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOUserConnectorCredentialDTO'
  /connector/api/v1/credential-metadata:
    post:
      tags:
      - connector-controller
      operationId: createConnectorCredentialInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorCredentialDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOConnectorCredentialDTO'
  /connector/api/v1:
    get:
      tags:
      - connector-controller
      description: returns all static connector meta data
      operationId: getAllConnectors
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOListOpenApiInfo'
  /connector/api/v1/names:
    get:
      tags:
      - connector-controller
      description: returns all static connector names
      operationId: getAllConnectNames
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOListString'
  /connector/api/v1/metadata/{connectorType}:
    get:
      tags:
      - connector-controller
      description: get the meta data of connector, not for the specific instance
      operationId: getConnectorMetadata
      parameters:
      - name: connectorType
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOOpenApiInfo'
  /connector/api/v1/instance/{connectorType}:
    get:
      tags:
      - connector-controller
      description: api to fetch connector instances for given user ,given type
      operationId: getUserConnectorCredentialInfo
      parameters:
      - name: connectorType
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOListUserConnectorCredentialDTO'
      deprecated: true
  /connector/api/v1/instance/byId/{id}:
    get:
      tags:
      - connector-controller
      description: get instance of  connector instance id
      operationId: getUserConnectorCredentialInfo_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: customAgentId
        in: query
        required: false
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOUserConnectorCredentialDTO'
  /connector/api/v1/instance/byCompany:
    get:
      tags:
      - connector-controller
      description: api to fetch connector instances for given company
      operationId: getConnectorCredentialByCompanyId
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOListUserConnectorCredentialDTO'
      deprecated: true
  /connector/api/v1/getByName/{name}:
    get:
      tags:
      - connector-controller
      operationId: getConnectorConfig
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOOpenApiInfo'
  /connector/api/v1/credential-metadata/{connectorType}:
    get:
      tags:
      - connector-controller
      operationId: getConnectorCredentialInfo
      parameters:
      - name: connectorType
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOListConnectorCredentialDTO'
  /connector/api/v1/delete/{name}:
    delete:
      tags:
      - connector-controller
      operationId: deleteConnector_1
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
components:
  schemas:
    ConnectorCredentialDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        connectorType:
          type: string
        credentialType:
          type: string
          enum:
          - QUERY_PARAM
          - BASIC_AUTH
          - AUTHORIZATION
          - ACCESS_TOKEN
          - BEARER
          - API_KEY
          - OAUTH2
        config:
          type: array
          items:
            $ref: '#/components/schemas/JsonNode'
    Schema:
      type: object
      properties:
        type:
          type: string
        format:
          type: string
        $ref:
          type: string
    SaasxlResponseDTOOpenApiInfo:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          $ref: '#/components/schemas/OpenApiInfo'
    Info:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        termsOfService:
          type: string
        contact:
          $ref: '#/components/schemas/Contact'
        version:
          type: string
    OpenApiConnectorRegistrationRequestDTO:
      type: object
      properties:
        connectorName:
          type: string
        baseUrl:
          type: string
        uri:
          type: string
    OpenApiInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        openapi:
          type: string
        info:
          $ref: '#/components/schemas/Info'
        servers:
          type: array
          items:
            $ref: '#/components/schemas/Server'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        paths:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PathInfo'
        credentials:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorCredentialDTO'
        components:
          $ref: '#/components/schemas/Component'
    CredentialDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        type:
          type: string
          enum:
          - QUERY_PARAM
          - BASIC_AUTH
          - AUTHORIZATION
          - ACCESS_TOKEN
          - BEARER
          - API_KEY
          - OAUTH2
        config:
          type: array
          items:
            $ref: '#/components/schemas/Config'
    Contact:
      type: object
      properties:
        email:
          type: string
    ConfigDTO:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties:
            type: object
    SaasxlResponseDTOConnectorCredentialDTO:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          $ref: '#/components/schemas/ConnectorCredentialDTO'
    Parameter:
      type: object
      properties:
        name:
          type: string
        in:
          type: string
        description:
          type: string
        schema:
          $ref: '#/components/schemas/Schema'
    Request:
      type: object
      properties:
        content:
          $ref: '#/components/schemas/Content'
        required:
          type: boolean
    EndPointInfo:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        summary:
          type: string
        description:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/Parameter'
        requestBody:
          $ref: '#/components/schemas/Request'
        responses:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Response'
        deprecated:
          type: boolean
        operationId:
          type: string
    Component:
      type: object
      properties:
        schemas:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SchemaDefinition'
    Tag:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    SaasxlResponseDTOUserConnectorCredentialDTO:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          $ref: '#/components/schemas/UserConnectorCredentialDTO'
    UserConnectorCredentialDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        connectorType:
          type: string
        credentialType:
          type: string
          enum:
          - QUERY_PARAM
          - BASIC_AUTH
          - AUTHORIZATION
          - ACCESS_TOKEN
          - BEARER
          - API_KEY
          - OAUTH2
        userId:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        tokenType:
          type: string
          enum:
          - B2B
          - USER
        config:
          type: array
          items:
            $ref: '#/components/schemas/ConfigDTO'
    SaasxlHttpResponseObject:
      type: object
      properties:
        data:
          type: object
        statusCode:
          type: integer
          format: int32
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
    Config:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties:
            type: object
    EventRequestParameterDTO:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties:
            type: object
    ConnectorRunDTO:
      type: object
      properties:
        connectorType:
          type: string
        baseUrl:
          type: string
        path:
          type: string
        method:
          type: string
        contentType:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/EventRequestParameterDTO'
        userCredentialId:
          type: integer
          format: int64
        credential:
          $ref: '#/components/schemas/CredentialDTO'
        companyId:
          type: integer
          format: int64
    PathInfo:
      type: object
      properties:
        get:
          $ref: '#/components/schemas/EndPointInfo'
        put:
          $ref: '#/components/schemas/EndPointInfo'
        delete:
          $ref: '#/components/schemas/EndPointInfo'
        post:
          $ref: '#/components/schemas/EndPointInfo'
        patch:
          $ref: '#/components/schemas/EndPointInfo'
    SaasxlResponseDTOListConnectorCredentialDTO:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorCredentialDTO'
    SchemaDefinition:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            type: object
        required:
          type: array
          items:
            type: string
        type:
          type: string
        description:
          type: string
    SaasxlResponseDTOListString:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: array
          items:
            type: string
    ApplicationJson:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Schema'
    JsonNode:
      type: object
    Response:
      type: object
      properties:
        description:
          type: string
        content:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ResponseContent'
    ResponseContent:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Schema'
    Content:
      type: object
      properties:
        application/json:
          $ref: '#/components/schemas/ApplicationJson'
    Server:
      type: object
      properties:
        url:
          type: string
        description:
          type: string
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    SaasxlResponseDTOListUserConnectorCredentialDTO:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserConnectorCredentialDTO'
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    SaasxlResponseDTOListOpenApiInfo:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: array
          items:
            $ref: '#/components/schemas/OpenApiInfo'
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
