openapi: 3.2.0
info:
  title: Saasxl-api doc API Post Workflow Test Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: api-post-workflow-test-controller
paths:
  /api/test/workflow/api-post/dummy-endpoint:
    put:
      tags:
      - api-post-workflow-test-controller
      operationId: dummyEndpointPut
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    post:
      tags:
      - api-post-workflow-test-controller
      operationId: dummyEndpoint
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
  /api/test/workflow/api-post/start:
    post:
      tags:
      - api-post-workflow-test-controller
      operationId: startWorkflow_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiPostWorkFlowRequest'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /api/test/workflow/api-post/cancel/{requestId}:
    post:
      tags:
      - api-post-workflow-test-controller
      operationId: cancelWorkflow_2
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOString'
  /api/test/workflow/api-post/progress/{requestId}:
    get:
      tags:
      - api-post-workflow-test-controller
      operationId: getProgress
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOApiPostProgress'
components:
  schemas:
    ApiPostProgress:
      type: object
      properties:
        requestId:
          type: string
        totalRequests:
          type: integer
          format: int32
        successfulRequests:
          type: integer
          format: int32
        failedRequests:
          type: integer
          format: int32
        pendingRequests:
          type: integer
          format: int32
        startedAt:
          type: string
          format: date-time
        lastUpdatedAt:
          type: string
          format: date-time
        status:
          type: string
    ApiPostWorkFlowRequest:
      type: object
      properties:
        requestId:
          type: string
        name:
          type: string
        endpointUrl:
          type: string
        httpMethod:
          type: string
        userConnectorCredential:
          $ref: '#/components/schemas/UserConnectorCredentialDTO'
        columnMapping:
          type: object
        workspaceId:
          type: string
        tableId:
          type: string
        whereClause:
          type: string
        filterParams:
          type: object
          additionalProperties:
            type: string
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RowDataDTO'
        user:
          $ref: '#/components/schemas/UserDTO'
        selectAll:
          type: boolean
        internalTableId:
          type: string
        continuationPage:
          type: integer
          format: int64
        continuationTotalProcessed:
          type: integer
          format: int32
        continuationSuccessfulRequests:
          type: integer
          format: int32
        continuationFailedRequests:
          type: integer
          format: int32
        continuationChildWorkflowCounter:
          type: integer
          format: int32
    UserConnectorCredentialDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        connectorType:
          type: string
        credentialType:
          type: string
          enum:
          - QUERY_PARAM
          - BASIC_AUTH
          - AUTHORIZATION
          - ACCESS_TOKEN
          - BEARER
          - API_KEY
          - OAUTH2
        userId:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        tokenType:
          type: string
          enum:
          - B2B
          - USER
        config:
          type: array
          items:
            $ref: '#/components/schemas/ConfigDTO'
    SaasxlResponseDTOApiPostProgress:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          $ref: '#/components/schemas/ApiPostProgress'
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    UserDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        companyName:
          type: string
        companyId:
          type: integer
          format: int64
        status:
          type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          uniqueItems: true
          type: array
          items:
            type: string
        joinDate:
          type: string
          format: date-time
        mfaEnabled:
          type: boolean
        redirectToMfaFlow:
          type: boolean
        tokenExpiryTime:
          type: integer
          format: int64
        isServiceAccount:
          type: boolean
        lastLogin:
          type: string
          format: date-time
        signInMethod:
          type: string
          enum:
          - EMAIL
          - GOOGLE
          - MICROSOFT
        isOnboardingCompleted:
          type: boolean
        role:
          type: string
        department:
          type: string
        anonymousUserId:
          type: string
        thirdPartyUser:
          type: boolean
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    LinkRecordDTO:
      type: object
      properties:
        sourceRecordId:
          type: object
        destinationRecordId:
          type: object
        linkColumnId:
          type: string
        columnId:
          type: string
        tableId:
          type: string
        companyId:
          type: integer
          format: int64
    RowDataDTO:
      type: object
      properties:
        id:
          type: object
        position:
          type: number
          format: double
        fkId:
          type: object
        cellValues:
          type: object
          additionalProperties:
            type: object
        cellValuesByColumnId:
          type: object
          additionalProperties:
            type: object
        linkRecords:
          type: array
          items:
            $ref: '#/components/schemas/LinkRecordDTO'
    SaasxlResponseDTOString:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: string
    ConfigDTO:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties:
            type: object
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
