openapi: 3.2.0
info:
  title: Saasxl-api doc No Co Db API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: NoCoDb
paths:
  /noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/views:
    put:
      tags:
      - NoCoDb
      operationId: modifyViews
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ViewDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TableViewDTO'
      security:
      - s_jwt: []
    post:
      tags:
      - NoCoDb
      operationId: createView
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ViewDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TableViewDTO'
      security:
      - s_jwt: []
  /noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/views/{viewId}:
    get:
      tags:
      - NoCoDb
      operationId: getViewDTO
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: viewId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TableViewDTO'
      security:
      - s_jwt: []
    put:
      tags:
      - NoCoDb
      operationId: modify_1
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: viewId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ViewDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TableViewDTO'
      security:
      - s_jwt: []
    delete:
      tags:
      - NoCoDb
      operationId: deleteView
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: viewId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
      security:
      - s_jwt: []
  /noCo/api/v1/transformation:
    put:
      tags:
      - NoCoDb
      operationId: edit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransformationDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TransformationDTO'
    post:
      tags:
      - NoCoDb
      operationId: create_4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransformationDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TransformationDTO'
  /noCo/api/v1/tables/webhooks/{id}:
    put:
      tags:
      - NoCoDb
      operationId: updateWebhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEventDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookEventDTO'
    delete:
      tags:
      - NoCoDb
      operationId: deleteWebhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /noCo/api/v1/transformation/executor/:
    post:
      tags:
      - NoCoDb
      operationId: execute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransformationExecDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JsonNode'
  /noCo/api/v1/tables/webhooks:
    get:
      tags:
      - NoCoDb
      operationId: getWebhookList
      parameters:
      - name: tableId
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEventDTO'
    post:
      tags:
      - NoCoDb
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEventDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookEventDTO'
  /noCo/api/v1/tables/webhooks/test:
    post:
      tags:
      - NoCoDb
      operationId: testWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEventDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /noCo/api/v1/tables/webhooks/test/payload:
    get:
      tags:
      - NoCoDb
      operationId: testWebhook_2
      parameters:
      - name: tableName
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEventDataDTO'
    post:
      tags:
      - NoCoDb
      operationId: testWebhook_1
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '410':
          description: Gone
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /noCo/api/v1/tables/webhooks/notify:
    post:
      tags:
      - NoCoDb
      operationId: sendNotification
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /noCo/api/v1/requestLog/status:
    post:
      tags:
      - NoCoDb
      operationId: getStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestStatusLogRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestStatusLogDTO'
  /noCo/api/v1/file/upload/csv:
    post:
      tags:
      - NoCoDb
      operationId: uploadFileV1
      requestBody:
        content:
          application/json:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /noCo/api/v1/file/parser/upload:
    post:
      tags:
      - NoCoDb
      operationId: uploadFile_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileParsingRequestDTO'
        required: true
      responses:
        '410':
          description: Gone
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
  /noCo/api/v1/transformation/{id}:
    get:
      tags:
      - NoCoDb
      operationId: get_2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TransformationDTO'
    delete:
      tags:
      - NoCoDb
      operationId: delete_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /noCo/api/v1/transformation/user/{userId}:
    get:
      tags:
      - NoCoDb
      operationId: getByUserId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransformationDTO'
  /noCo/api/v1/transformation/fun:
    get:
      tags:
      - NoCoDb
      operationId: getAllFunctions
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunctionDTO'
  /noCo/api/v1/requestLog/{eventName}/{eventId}/pendingItems:
    get:
      tags:
      - NoCoDb
      operationId: getPendingRequestIds
      parameters:
      - name: eventName
        in: path
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequestStatusLogDTO'
  /noCo/api/v1/requestLog/status/{id}:
    get:
      tags:
      - NoCoDb
      operationId: getStatusById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RequestStatusLogDTO'
  /noCo/api/v1/functions:
    get:
      tags:
      - NoCoDb
      operationId: getAll_1
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FunctionDTO'
components:
  schemas:
    ThirdPartyFilterConfigDTO:
      type: object
      properties:
        name:
          type: string
        required:
          type: boolean
        defaultValue:
          type: string
        actualValue:
          type: string
    FileParsingRequestDTO:
      type: object
      properties:
        file:
          type: string
        keyExtractors:
          type: array
          items:
            $ref: '#/components/schemas/keyExtractor'
    keyExtractor:
      type: object
      properties:
        key:
          type: string
        fn:
          type: string
    AttachmentSettingsDTO:
      type: object
      properties:
        templateKey:
          type: string
        templateFileName:
          type: string
        outputFileName:
          type: string
    RuleDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    DefinitionDTO:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
        def:
          $ref: '#/components/schemas/FunctionDefinitionDTO'
    JoinRequest:
      type: object
      properties:
        workspaceId:
          type: string
        name:
          type: string
        primaryTableId:
          type: string
        joinConditions:
          type: array
          items:
            $ref: '#/components/schemas/JoinConditionDTO'
    WebhookEventDataDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        tableId:
          type: string
        tableName:
          type: string
        data:
          type: string
    EnumOptionValue:
      type: object
      properties:
        value:
          type: object
        label:
          type: string
    FunctionDefinitionDTO:
      type: object
      properties:
        name:
          type: string
        args:
          type: array
          items:
            $ref: '#/components/schemas/DefinitionDTO'
    ViewDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        isMaster:
          type: boolean
        tableId:
          type: string
        position:
          type: number
          format: double
        name:
          type: string
        type:
          type: string
        description:
          type: string
        filterOptions:
          $ref: '#/components/schemas/FilterOptionDTO'
        groupOptions:
          type: array
          items:
            $ref: '#/components/schemas/GroupOptionDTO'
        sortOptions:
          type: array
          items:
            $ref: '#/components/schemas/SortOptionDTO'
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        filterParams:
          type: object
          additionalProperties:
            type: object
        whereClause:
          type: string
        query:
          type: string
        tableName:
          type: string
    FunctionDTO:
      type: object
      properties:
        name:
          type: string
        displayTitle:
          type: string
        title:
          type: string
        description:
          type: string
        example:
          type: string
        function:
          type: string
    ColumnSettingsDTO:
      type: object
      properties:
        enableUserAddNotifications:
          type: boolean
        aiSettings:
          $ref: '#/components/schemas/AIGenerateSettingsDTO'
        attachmentSettings:
          $ref: '#/components/schemas/AttachmentSettingsDTO'
    HttpNotificationDetails:
      type: object
      properties:
        method:
          type: string
        url:
          type: string
        headerDetails:
          type: object
          additionalProperties:
            type: object
        parameterDetails:
          type: object
          additionalProperties:
            type: object
        payload:
          type: object
          additionalProperties:
            type: object
    TransformationDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        formulaMapping:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DefinitionDTO'
        sourceSchema:
          type: string
        userId:
          type: integer
          format: int64
    JoinConditionDTO:
      type: object
      properties:
        targetTableId:
          type: string
        joinConditionExpression:
          type: string
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        selectedColumnIds:
          type: array
          items:
            type: string
    TableViewDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        workspaceId:
          type: string
        position:
          type: number
          format: double
        tableName:
          type: string
        description:
          type: string
        tableType:
          type: string
          enum:
          - STATIC
          - DYNAMIC
          - HYBRID
        materializedViewId:
          type: integer
          format: int64
        materializedViewQuery:
          type: string
        sourceType:
          type: string
        storageType:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnDTO'
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        requestId:
          type: string
        status:
          type: string
        connectionName:
          type: string
        systemTableName:
          type: string
        companyId:
          type: integer
          format: int64
        pipelineId:
          type: integer
          format: int64
        allowSwitchStorage:
          type: boolean
        dataProvider:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        primaryKeyColumnName:
          type: string
        lastSyncTime:
          type: string
          format: date-time
        deleteGuard:
          type: boolean
        parentId:
          type: string
        isMigrationDone:
          type: boolean
        sparkConnectionName:
          type: string
        warehouseConnectionName:
          type: string
        datasourceIds:
          type: array
          items:
            type: string
        doesCopyExists:
          type: boolean
        lastMilePipelineId:
          type: integer
          format: int64
        positionKeyColumnName:
          type: string
        isAthenaEnabled:
          type: boolean
        isCloudBigQueryEnabled:
          type: boolean
        title:
          type: string
        isBIWorkbook:
          type: boolean
        isSystemGenerated:
          type: boolean
        joinColumnNames:
          type: array
          items:
            type: string
        foreignKeyColumnName:
          type: string
        joinTableName:
          type: string
        s3Uri:
          type: string
        joinRequest:
          $ref: '#/components/schemas/JoinRequest'
        internalTableType:
          type: string
          enum:
          - EXTRACTION
          - EMAIL_CAMPAIGN
          - API_POST
          - TENANT_WORKBOOK
          - ENRICHMENT
        tableSizeBytes:
          type: integer
          format: int64
        sourceQueryEngine:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        tenantConfig:
          type: object
          additionalProperties:
            type: string
        parameterKeys:
          uniqueItems: true
          type: array
          items:
            type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/VersionDTO'
        showVersions:
          type: boolean
        view:
          $ref: '#/components/schemas/ViewDTO'
        latestVersion:
          $ref: '#/components/schemas/VersionDTO'
    WidgetParameterDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        workspaceId:
          type: string
        name:
          type: string
        key:
          type: string
        type:
          type: string
          enum:
          - TEXT
          - NUMERIC
          - STATIC_ENUM
          - DYNAMIC_ENUM
          - BOOLEAN
          - DATE
          - DATETIME
          - DATE_RANGE
        enumOptions:
          $ref: '#/components/schemas/EnumOptions'
        defaultValue:
          type: object
        createdAt:
          type: string
          format: date-time
        showByDefault:
          type: boolean
        thirdPartyFilters:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyFilterConfigDTO'
    GroupOptionDTO:
      type: object
      properties:
        columnId:
          type: string
        direction:
          type: string
        columnName:
          type: string
    WebhookEventDTO:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        tableId:
          type: string
        eventName:
          type: string
        tableName:
          type: string
        notificationType:
          type: string
        httpNotificationDetails:
          $ref: '#/components/schemas/HttpNotificationDetails'
    JsonNode:
      type: object
    ColumnDTO:
      required:
      - name
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        name:
          type: string
        uiDataType:
          type: string
        idType:
          type: string
        required:
          type: boolean
        description:
          type: string
        formulaType:
          type: string
        formula:
          type: string
        backendDataType:
          type: string
        rawFormula:
          type: string
        status:
          type: string
        eventName:
          type: string
        errorMessage:
          type: string
        rowLevelFormula:
          type: string
        rowLevelFormulaWithParameter:
          type: string
        nestedFormula:
          type: string
        nestedFormulaWithParameter:
          type: string
        nestedRowLevelFormula:
          type: string
        nestedRowLevelFormulaWithParameter:
          type: string
        workspaceId:
          type: string
        isDataEditable:
          type: boolean
        isMetaDataEditable:
          type: boolean
        isEditable:
          type: boolean
        isDataTypeEditable:
          type: boolean
        isDeletable:
          type: boolean
        isColumnLevelFormula:
          type: boolean
        colOptions:
          type: object
          additionalProperties:
            type: object
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        tableId:
          type: string
        requestId:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/WidgetParameterDTO'
        parameterIds:
          type: array
          items:
            type: integer
            format: int64
        isBIFormula:
          type: boolean
        isAudit:
          type: boolean
        isEnriched:
          type: boolean
        isDynamicFormula:
          type: boolean
        isSystemGenerated:
          type: boolean
        settings:
          $ref: '#/components/schemas/ColumnSettingsDTO'
        sourceDatatype:
          type: string
    VersionDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        name:
          type: string
        dagRunId:
          type: integer
          format: int64
        description:
          type: string
        isDefaultVersion:
          type: boolean
        parameters:
          type: object
          additionalProperties:
            type: object
    EnumOptions:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/EnumOptionValue'
        type:
          type: string
          enum:
          - TEXT
          - NUMERIC
          - STATIC_ENUM
          - DYNAMIC_ENUM
          - BOOLEAN
          - DATE
          - DATETIME
          - DATE_RANGE
        sqlQuery:
          type: string
        multipleValuesAllowed:
          type: boolean
        wrapValuesWithinSingleQuotes:
          type: boolean
    SortOptionDTO:
      type: object
      properties:
        columnId:
          type: string
        direction:
          type: string
        columnName:
          type: string
        columnNameWithOutQuotes:
          type: string
        valueOrder:
          uniqueItems: true
          type: array
          items:
            type: string
    TransformationExecDTO:
      type: object
      properties:
        transformationId:
          type: integer
          format: int64
        value:
          $ref: '#/components/schemas/JsonNode'
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    RequestStatusLogDTO:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - INITIATED
          - IN_PROGRESS
          - DONE
          - FAILED
          - CANCELLED
        eventName:
          type: string
        message:
          type: string
        companyId:
          type: integer
          format: int64
        eventId:
          type: string
        requestContext:
          type: object
          additionalProperties:
            type: object
        sessionId:
          type: string
    UserDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        companyName:
          type: string
        companyId:
          type: integer
          format: int64
        status:
          type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          uniqueItems: true
          type: array
          items:
            type: string
        joinDate:
          type: string
          format: date-time
        mfaEnabled:
          type: boolean
        redirectToMfaFlow:
          type: boolean
        tokenExpiryTime:
          type: integer
          format: int64
        isServiceAccount:
          type: boolean
        lastLogin:
          type: string
          format: date-time
        signInMethod:
          type: string
          enum:
          - EMAIL
          - GOOGLE
          - MICROSOFT
        isOnboardingCompleted:
          type: boolean
        role:
          type: string
        department:
          type: string
        anonymousUserId:
          type: string
        thirdPartyUser:
          type: boolean
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    RequestStatusLogRequestDTO:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
    FilterOptionDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    AIGenerateSettingsDTO:
      type: object
      properties:
        prompt:
          type: string
        model:
          type: string
        webAccess:
          type: boolean
        enabled:
          type: boolean
        webAccessProvider:
          type: string
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
