openapi: 3.2.0
info:
  title: Saasxl-api doc Search Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: search-controller
paths:
  /noCo/api/v2/workspaces/search:
    get:
      tags:
      - search-controller
      description: Search across tables, pages and widgets
      operationId: search
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: workspaceId
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchItemDTO'
components:
  schemas:
    SearchItemDTO:
      type: object
      properties:
        type:
          type: string
        isFolder:
          type: boolean
        id:
          type: string
        name:
          type: string
        description:
          type: string
        subtitle:
          type: string
        workspaceId:
          type: string
        workspaceName:
          type: string
        pageId:
          type: string
        pageName:
          type: string
        widgetId:
          type: string
        workspaceCreatedBy:
          type: integer
          format: int64
        pageCreatedBy:
          type: integer
          format: int64
        widgetCreatedBy:
          type: integer
          format: int64
        tableCreatedBy:
          type: integer
          format: int64
        documentCreatedBy:
          type: integer
          format: int64
        uiMetadata:
          type: object
          additionalProperties:
            type: object
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
