openapi: 3.2.0
info:
  title: Saasxl-api doc External Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: external-controller
paths:
  /noCo/api/v1/external/getTable:
    get:
      tags:
      - external-controller
      operationId: getTableByViewId
      parameters:
      - name: elementId
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExternalTableDTO'
components:
  schemas:
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    ExternalTableDTO:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        tableName:
          type: string
        description:
          type: string
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ExternalColumnDTO'
    ExternalColumnDTO:
      required:
      - name
      - uiDataType
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        uiDataType:
          type: string
        editable:
          type: boolean
        uiMetadata:
          type: object
          additionalProperties:
            type: object
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
