openapi: 3.2.0
info:
  title: Saasxl-api doc Workflow Job Scheduler Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: workflow-job-scheduler-controller
paths:
  /workflow/api/v1/scheduleJob:
    post:
      tags:
      - workflow-job-scheduler-controller
      operationId: scheduleJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowJobSchedulerDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /workflow/api/v1/deleteJob:
    post:
      tags:
      - workflow-job-scheduler-controller
      operationId: scheduleJob_1
      parameters:
      - name: jobKey
        in: query
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
components:
  schemas:
    SaasxlHttpResponseObject:
      type: object
      properties:
        data:
          type: object
        statusCode:
          type: integer
          format: int32
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
    OperationMetaData:
      type: object
      properties:
        httpMethod:
          type: string
        baseUrl:
          type: string
        operationUrl:
          type: string
        contentType:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/EventRequestParameterDTO'
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    ResponseData:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/RequestDTO'
        outputData:
          $ref: '#/components/schemas/SaasxlHttpResponseObject'
    RequestDTO:
      type: object
      properties:
        credential:
          $ref: '#/components/schemas/EventCredentialDTO'
        connectorType:
          type: string
        operation:
          type: string
        resource:
          type: string
        limit:
          type: integer
          format: int32
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/EventRequestParameterDTO'
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    RuleDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    EventNodeDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        nodeType:
          type: string
        relationToPreviousNode:
          type: string
        rule:
          $ref: '#/components/schemas/RuleDTO'
        connectorInfos:
          type: array
          items:
            $ref: '#/components/schemas/EventConnectorInfoDTO'
        startConnectorInfo:
          type: string
        status:
          type: string
        startTimeInMillis:
          type: integer
          format: int64
        endTimeInMillis:
          type: integer
          format: int64
        dataContext:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
        errorMessage:
          $ref: '#/components/schemas/ErrorMessage'
        waitTimeInSeconds:
          type: integer
          format: int64
    EventRequestParameterDTO:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties:
            type: object
    EventCredentialDTO:
      type: object
      properties:
        credentialType:
          type: string
        config:
          type: array
          items:
            $ref: '#/components/schemas/EventRequestParameterDTO'
    ParameterDTO:
      type: object
      properties:
        type:
          type: string
        data:
          type: object
          additionalProperties:
            type: object
    EventConnectionDTO:
      type: object
      properties:
        node:
          type: string
        nextNodes:
          type: array
          items:
            type: string
    EventConnectorInfoDTO:
      type: object
      properties:
        id:
          type: string
        connectorType:
          type: string
        path:
          type: string
        method:
          type: string
        credential:
          $ref: '#/components/schemas/EventCredentialDTO'
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ParameterDTO'
        operationMetaData:
          $ref: '#/components/schemas/OperationMetaData'
        configJsFn:
          type: string
        responseParserFn:
          type: string
        responseData:
          type: array
          items:
            $ref: '#/components/schemas/ResponseData'
    EventDTO:
      type: object
      properties:
        currentNode:
          type: string
        destinationNode:
          type: string
        connections:
          type: array
          items:
            $ref: '#/components/schemas/EventConnectionDTO'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/EventNodeDTO'
        workFlowId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        requestId:
          type: string
        status:
          type: string
        startTimeInMillis:
          type: integer
          format: int64
        endTimeInMillis:
          type: integer
          format: int64
        workspaceId:
          type: string
    WorkflowJobSchedulerDTO:
      type: object
      properties:
        event:
          $ref: '#/components/schemas/EventDTO'
        waitTimeInSeconds:
          type: integer
          format: int64
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
