openapi: 3.2.0
info:
  title: Saasxl-api doc Widget Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: widget-controller
paths:
  /noCo/api/v1/widgets/{widgetId}:
    get:
      tags:
      - widget-controller
      operationId: getWidgetById
      parameters:
      - name: widgetId
        in: path
        required: true
        schema:
          type: string
      - name: isIncludeTable
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: pageId
        in: query
        required: false
        schema:
          type: string
      - name: dashboardId
        in: query
        required: false
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WidgetDTO'
      security:
      - s_jwt: []
    put:
      tags:
      - widget-controller
      operationId: modifyWidgetById
      parameters:
      - name: widgetId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WidgetDTO'
      security:
      - s_jwt: []
    delete:
      tags:
      - widget-controller
      operationId: deleteWidgetById
      parameters:
      - name: widgetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
      security:
      - s_jwt: []
  /noCo/api/v1/widgets:
    post:
      tags:
      - widget-controller
      operationId: createWidget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WidgetDTO'
      security:
      - s_jwt: []
  /noCo/api/v1/widgets/tableData:
    post:
      tags:
      - widget-controller
      operationId: getTableDataByWidgetId
      parameters:
      - name: widgetId
        in: query
        required: true
        schema:
          type: string
      - name: pageId
        in: query
        required: true
        schema:
          type: string
      - name: workspaceId
        in: query
        required: true
        schema:
          type: string
      - name: tableId
        in: query
        required: true
        schema:
          type: string
      - name: dashboardId
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryOptionDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDTO'
      security:
      - s_jwt: []
  /noCo/api/v1/widgets/multiple:
    post:
      tags:
      - widget-controller
      operationId: createWidgets
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WidgetDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WidgetDTO'
      security:
      - s_jwt: []
components:
  schemas:
    ThirdPartyFilterConfigDTO:
      type: object
      properties:
        name:
          type: string
        required:
          type: boolean
        defaultValue:
          type: string
        actualValue:
          type: string
    LinkRecordDTO:
      type: object
      properties:
        sourceRecordId:
          type: object
        destinationRecordId:
          type: object
        linkColumnId:
          type: string
        columnId:
          type: string
        tableId:
          type: string
        companyId:
          type: integer
          format: int64
    PageDTO:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int64
        totalNumberOfRecords:
          type: integer
          format: int64
        totalNumberOfPages:
          type: integer
          format: int64
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RowDataDTO'
        tableName:
          type: string
        lastCursorValues:
          type: object
          additionalProperties:
            type: object
        isLastPage:
          type: boolean
        waitTime:
          type: integer
          format: int64
        executionTime:
          type: integer
          format: int64
        operationId:
          type: string
        finalQuery:
          type: string
    BaseWidgetDTO:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subTitle:
          type: string
    AttachmentSettingsDTO:
      type: object
      properties:
        templateKey:
          type: string
        templateFileName:
          type: string
        outputFileName:
          type: string
    RuleDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    JoinRequest:
      type: object
      properties:
        workspaceId:
          type: string
        name:
          type: string
        primaryTableId:
          type: string
        joinConditions:
          type: array
          items:
            $ref: '#/components/schemas/JoinConditionDTO'
    EnumOptionValue:
      type: object
      properties:
        value:
          type: object
        label:
          type: string
    WidgetDTO:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        subTitle:
          type: string
        type:
          type: string
          enum:
          - CHART
          - TABLE
          - PIVOT_TABLE
          - KPI
          - TEXT
          - METRICS
          - GEO_MAP
          - WORKBOOK_VIEW
          - COHORT
        config:
          $ref: '#/components/schemas/JsonNode'
        tableId:
          type: string
        viewId:
          type: string
        message:
          type: string
        table:
          $ref: '#/components/schemas/TableDTO'
        widgets:
          type: array
          items:
            $ref: '#/components/schemas/BaseWidgetDTO'
        modiDate:
          type: string
          format: date-time
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/WidgetParameterDTO'
        indexStatus:
          type: string
    ViewDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        isMaster:
          type: boolean
        tableId:
          type: string
        position:
          type: number
          format: double
        name:
          type: string
        type:
          type: string
        description:
          type: string
        filterOptions:
          $ref: '#/components/schemas/FilterOptionDTO'
        groupOptions:
          type: array
          items:
            $ref: '#/components/schemas/GroupOptionDTO'
        sortOptions:
          type: array
          items:
            $ref: '#/components/schemas/SortOptionDTO'
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        filterParams:
          type: object
          additionalProperties:
            type: object
        whereClause:
          type: string
        query:
          type: string
        tableName:
          type: string
    ColumnSettingsDTO:
      type: object
      properties:
        enableUserAddNotifications:
          type: boolean
        aiSettings:
          $ref: '#/components/schemas/AIGenerateSettingsDTO'
        attachmentSettings:
          $ref: '#/components/schemas/AttachmentSettingsDTO'
    JoinConditionDTO:
      type: object
      properties:
        targetTableId:
          type: string
        joinConditionExpression:
          type: string
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        selectedColumnIds:
          type: array
          items:
            type: string
    TableDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        workspaceId:
          type: string
        position:
          type: number
          format: double
        tableName:
          type: string
        description:
          type: string
        tableType:
          type: string
          enum:
          - STATIC
          - DYNAMIC
          - HYBRID
        materializedViewId:
          type: integer
          format: int64
        materializedViewQuery:
          type: string
        sourceType:
          type: string
        storageType:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnDTO'
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        requestId:
          type: string
        status:
          type: string
        connectionName:
          type: string
        systemTableName:
          type: string
        companyId:
          type: integer
          format: int64
        pipelineId:
          type: integer
          format: int64
        allowSwitchStorage:
          type: boolean
        dataProvider:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        primaryKeyColumnName:
          type: string
        lastSyncTime:
          type: string
          format: date-time
        deleteGuard:
          type: boolean
        parentId:
          type: string
        isMigrationDone:
          type: boolean
        sparkConnectionName:
          type: string
        warehouseConnectionName:
          type: string
        datasourceIds:
          type: array
          items:
            type: string
        doesCopyExists:
          type: boolean
        lastMilePipelineId:
          type: integer
          format: int64
        positionKeyColumnName:
          type: string
        isAthenaEnabled:
          type: boolean
        isCloudBigQueryEnabled:
          type: boolean
        title:
          type: string
        isBIWorkbook:
          type: boolean
        isSystemGenerated:
          type: boolean
        joinColumnNames:
          type: array
          items:
            type: string
        foreignKeyColumnName:
          type: string
        joinTableName:
          type: string
        s3Uri:
          type: string
        joinRequest:
          $ref: '#/components/schemas/JoinRequest'
        internalTableType:
          type: string
          enum:
          - EXTRACTION
          - EMAIL_CAMPAIGN
          - API_POST
          - TENANT_WORKBOOK
          - ENRICHMENT
        tableSizeBytes:
          type: integer
          format: int64
        sourceQueryEngine:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        tenantConfig:
          type: object
          additionalProperties:
            type: string
        parameterKeys:
          uniqueItems: true
          type: array
          items:
            type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/VersionDTO'
        showVersions:
          type: boolean
        views:
          type: array
          items:
            $ref: '#/components/schemas/ViewDTO'
        latestVersion:
          $ref: '#/components/schemas/VersionDTO'
    WidgetParameterDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        workspaceId:
          type: string
        name:
          type: string
        key:
          type: string
        type:
          type: string
          enum:
          - TEXT
          - NUMERIC
          - STATIC_ENUM
          - DYNAMIC_ENUM
          - BOOLEAN
          - DATE
          - DATETIME
          - DATE_RANGE
        enumOptions:
          $ref: '#/components/schemas/EnumOptions'
        defaultValue:
          type: object
        createdAt:
          type: string
          format: date-time
        showByDefault:
          type: boolean
        thirdPartyFilters:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyFilterConfigDTO'
    GroupOptionDTO:
      type: object
      properties:
        columnId:
          type: string
        direction:
          type: string
        columnName:
          type: string
    JsonNode:
      type: object
    ColumnDTO:
      required:
      - name
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        name:
          type: string
        uiDataType:
          type: string
        idType:
          type: string
        required:
          type: boolean
        description:
          type: string
        formulaType:
          type: string
        formula:
          type: string
        backendDataType:
          type: string
        rawFormula:
          type: string
        status:
          type: string
        eventName:
          type: string
        errorMessage:
          type: string
        rowLevelFormula:
          type: string
        rowLevelFormulaWithParameter:
          type: string
        nestedFormula:
          type: string
        nestedFormulaWithParameter:
          type: string
        nestedRowLevelFormula:
          type: string
        nestedRowLevelFormulaWithParameter:
          type: string
        workspaceId:
          type: string
        isDataEditable:
          type: boolean
        isMetaDataEditable:
          type: boolean
        isEditable:
          type: boolean
        isDataTypeEditable:
          type: boolean
        isDeletable:
          type: boolean
        isColumnLevelFormula:
          type: boolean
        colOptions:
          type: object
          additionalProperties:
            type: object
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        tableId:
          type: string
        requestId:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/WidgetParameterDTO'
        parameterIds:
          type: array
          items:
            type: integer
            format: int64
        isBIFormula:
          type: boolean
        isAudit:
          type: boolean
        isEnriched:
          type: boolean
        isDynamicFormula:
          type: boolean
        isSystemGenerated:
          type: boolean
        settings:
          $ref: '#/components/schemas/ColumnSettingsDTO'
        sourceDatatype:
          type: string
    QueryOptionDTO:
      type: object
      properties:
        filterOptions:
          $ref: '#/components/schemas/FilterOptionDTO'
        groupOptions:
          type: array
          items:
            $ref: '#/components/schemas/GroupOptionDTO'
        sortOptions:
          type: array
          items:
            $ref: '#/components/schemas/SortOptionDTO'
        requestPageDetails:
          $ref: '#/components/schemas/RequestPageDetailDTO'
        whereClause:
          type: string
        filterParams:
          type: object
          additionalProperties:
            type: string
        dataProvider:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        workspaceId:
          type: string
        tableId:
          type: string
        versionId:
          type: integer
          format: int64
        dagRunId:
          type: integer
          format: int64
        parameters:
          type: object
          additionalProperties:
            type: object
        lastCursorValues:
          type: object
          additionalProperties:
            type: object
        doWeNeedCountQuery:
          type: boolean
    VersionDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        name:
          type: string
        dagRunId:
          type: integer
          format: int64
        description:
          type: string
        isDefaultVersion:
          type: boolean
        parameters:
          type: object
          additionalProperties:
            type: object
    EnumOptions:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/EnumOptionValue'
        type:
          type: string
          enum:
          - TEXT
          - NUMERIC
          - STATIC_ENUM
          - DYNAMIC_ENUM
          - BOOLEAN
          - DATE
          - DATETIME
          - DATE_RANGE
        sqlQuery:
          type: string
        multipleValuesAllowed:
          type: boolean
        wrapValuesWithinSingleQuotes:
          type: boolean
    SortOptionDTO:
      type: object
      properties:
        columnId:
          type: string
        direction:
          type: string
        columnName:
          type: string
        columnNameWithOutQuotes:
          type: string
        valueOrder:
          uniqueItems: true
          type: array
          items:
            type: string
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    UserDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        companyName:
          type: string
        companyId:
          type: integer
          format: int64
        status:
          type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          uniqueItems: true
          type: array
          items:
            type: string
        joinDate:
          type: string
          format: date-time
        mfaEnabled:
          type: boolean
        redirectToMfaFlow:
          type: boolean
        tokenExpiryTime:
          type: integer
          format: int64
        isServiceAccount:
          type: boolean
        lastLogin:
          type: string
          format: date-time
        signInMethod:
          type: string
          enum:
          - EMAIL
          - GOOGLE
          - MICROSOFT
        isOnboardingCompleted:
          type: boolean
        role:
          type: string
        department:
          type: string
        anonymousUserId:
          type: string
        thirdPartyUser:
          type: boolean
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    RowDataDTO:
      type: object
      properties:
        id:
          type: object
        position:
          type: number
          format: double
        fkId:
          type: object
        cellValues:
          type: object
          additionalProperties:
            type: object
        cellValuesByColumnId:
          type: object
          additionalProperties:
            type: object
        linkRecords:
          type: array
          items:
            $ref: '#/components/schemas/LinkRecordDTO'
    RequestPageDetailDTO:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int64
    FilterOptionDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    AIGenerateSettingsDTO:
      type: object
      properties:
        prompt:
          type: string
        model:
          type: string
        webAccess:
          type: boolean
        enabled:
          type: boolean
        webAccessProvider:
          type: string
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
