openapi: 3.2.0
info:
  title: Saasxl-api doc Data Pipeline Controller V2 API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: data-pipeline-controller-v2
paths:
  /dataPipeline/api/v2/{dataPipelineId}:
    put:
      tags:
      - data-pipeline-controller-v2
      operationId: edit_1
      parameters:
      - name: dataPipelineId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipelineV2DTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineResponseV2DTO'
  /dataPipeline/api/v2:
    get:
      tags:
      - data-pipeline-controller-v2
      operationId: getAll_4
      parameters:
      - name: includeJobs
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPipelineResponseV2DTO'
    post:
      tags:
      - data-pipeline-controller-v2
      operationId: createPipeline
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipelineV2DTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineResponseV2DTO'
  /dataPipeline/api/v2/{dataPipelineId}/getPreviousRevision:
    post:
      tags:
      - data-pipeline-controller-v2
      operationId: getPreviousRevision
      parameters:
      - name: dataPipelineId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPipelineRevisionDTO'
  /dataPipeline/api/v2/job:
    post:
      tags:
      - data-pipeline-controller-v2
      operationId: getPipelineJob
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipelineJobRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginatedDataPipelineJobsDTO'
  /dataPipeline/api/v2/getAllPaginated:
    post:
      tags:
      - data-pipeline-controller-v2
      operationId: getAllPaginated
      parameters:
      - name: includeJobs
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 12
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipelineSearchDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelinePaginatedResponseDTO'
  /dataPipeline/api/v2/generateQuery:
    post:
      tags:
      - data-pipeline-controller-v2
      operationId: generateQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamQueryGenerationRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: string
  /dataPipeline/api/v2/{pipelineId}:
    get:
      tags:
      - data-pipeline-controller-v2
      operationId: getById_4
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineResponseV2DTO'
  /dataPipeline/api/v2/{pipelineId}/jobs:
    get:
      tags:
      - data-pipeline-controller-v2
      operationId: getAllJobs
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineJobPage'
  /dataPipeline/api/v2/{pipelineId}/job/{jobId}:
    get:
      tags:
      - data-pipeline-controller-v2
      operationId: getDataPipelineJobById_1
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: jobId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineJobV2DTO'
  /dataPipeline/api/v2/queryEngines:
    get:
      tags:
      - data-pipeline-controller-v2
      operationId: getQueryEngines
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  enum:
                  - JDBC
                  - SPARK
                  - ATHENA
                  - SNOWFLAKE
                  - BIGQUERY
                  - MYSQL
                  - SQL_SERVER
                  - REDSHIFT
                  - CLOUD_BIGQUERY
  /dataPipeline/api/v2/pipelines/permission/migrate:
    get:
      tags:
      - data-pipeline-controller-v2
      operationId: migrateCustomPipelines
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
components:
  schemas:
    AnnotationDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - CLASSIFICATION
          - GLOSSARY
          - GLOSSARY_TERM
          - TERM
        parentAnnotationId:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        uiMetadata:
          type: object
          additionalProperties:
            type: object
    ThirdPartyFilterConfigDTO:
      type: object
      properties:
        name:
          type: string
        required:
          type: boolean
        defaultValue:
          type: string
        actualValue:
          type: string
    KeyInfoDTO:
      type: object
      properties:
        primaryKeyName:
          type: string
        primaryKeyTableName:
          type: string
        primaryKeyColumnName:
          type: string
        foreignKeyName:
          type: string
        foreignKeyTableName:
          type: string
        foreignKeyColumnName:
          type: string
        keySequence:
          type: string
        updateRule:
          type: string
        deleteRule:
          type: string
    CatalogDTO:
      type: object
      properties:
        name:
          type: string
    StreamQueryGenerationRequestDTO:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UserDTO'
        dsId:
          type: integer
          format: int64
        dataPipelineId:
          type: integer
          format: int64
        stream:
          type: string
        where:
          $ref: '#/components/schemas/WhereClause'
        columns:
          type: array
          items:
            type: string
        parameters:
          type: object
          additionalProperties:
            type: object
        nodeGroupConfigProperties:
          type: object
          additionalProperties:
            type: string
    DataPipelineStreamCursorDTO:
      type: object
      properties:
        cursorName:
          type: string
        cursorDataType:
          type: string
        cursorLastValue:
          type: string
    DataSourceSchemaDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        dataSourceId:
          type: integer
          format: int64
        data:
          $ref: '#/components/schemas/DataSourceSchemaWrapperDTO'
        hash:
          type: string
        lastSyncedAt:
          type: string
          format: date-time
    KeyDTO:
      type: object
      properties:
        name:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/KeyInfoDTO'
    PageRequestDTO:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int64
        query:
          type: string
        primaryKeyColumnName:
          type: string
    LinkRecordDTO:
      type: object
      properties:
        sourceRecordId:
          type: object
        destinationRecordId:
          type: object
        linkColumnId:
          type: string
        columnId:
          type: string
        tableId:
          type: string
        companyId:
          type: integer
          format: int64
    DataPipelineRevisionDTO:
      type: object
      properties:
        pipeline:
          $ref: '#/components/schemas/DataPipelineResponseV2DTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedAt:
          type: string
          format: date-time
    PageDTO:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int64
        totalNumberOfRecords:
          type: integer
          format: int64
        totalNumberOfPages:
          type: integer
          format: int64
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RowDataDTO'
        tableName:
          type: string
        lastCursorValues:
          type: object
          additionalProperties:
            type: object
        isLastPage:
          type: boolean
        waitTime:
          type: integer
          format: int64
        executionTime:
          type: integer
          format: int64
        operationId:
          type: string
        finalQuery:
          type: string
    DataPipelineJobProcessDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        pipelineProcessId:
          type: integer
          format: int64
        query:
          type: string
        status:
          type: string
        rank:
          type: integer
          format: int32
        processName:
          type: string
        processType:
          type: string
          enum:
          - PRE
          - POST
    DataPipelineJobPage:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalRecords:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        nextFireTimes:
          type: array
          items:
            type: string
            format: date-time
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineJobV2DTO'
    DataPipelineJobLiteDTO:
      type: object
      properties:
        pipelineInfo:
          $ref: '#/components/schemas/DataPipelineInfoDTO'
        job:
          $ref: '#/components/schemas/DataPipelineJobDTO'
        jobV2:
          $ref: '#/components/schemas/DataPipelineJobV2DTO'
    AttachmentSettingsDTO:
      type: object
      properties:
        templateKey:
          type: string
        templateFileName:
          type: string
        outputFileName:
          type: string
    DataPipelineNodeGroupConfig:
      type: object
      properties:
        id:
          type: integer
          format: int64
        numberOfExecutors:
          type: integer
          format: int32
    DataPipelineJobRequestDTO:
      type: object
      properties:
        status:
          type: string
          enum:
          - QUEUED
          - STARTED
          - FAILED
          - CANCELLED
          - COMPLETED
          - PENDING
          - RUNNING
          - INCOMPLETE
          - SUCCEEDED
          - DELETED
          - UNKNOWN
          - PRE_VALIDATION_FAILED
          - POST_VALIDATION_FAILED
        time:
          $ref: '#/components/schemas/Time'
    RuleDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    JoinRequest:
      type: object
      properties:
        workspaceId:
          type: string
        name:
          type: string
        primaryTableId:
          type: string
        joinConditions:
          type: array
          items:
            $ref: '#/components/schemas/JoinConditionDTO'
    DataPipelineStreamDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        query:
          type: string
        outputTableName:
          type: string
        syncMode:
          type: string
          enum:
          - FULL_REFRESH
          - INCREMENTAL_APPEND
          - INCREMENTAL_APPEND_V2
          - INCREMENTAL_APPEND_MERGE
          - INCREMENTAL_APPEND_V2_MERGE
        tableId:
          type: integer
          format: int64
        cursor:
          $ref: '#/components/schemas/DataPipelineStreamCursorDTO'
        status:
          type: string
          enum:
          - ACTIVE
          - PAUSED
        processes:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineProcessDTO'
        pipeline:
          $ref: '#/components/schemas/DataPipelineLiteDTO'
        modifiedAt:
          type: string
          format: date-time
        columns:
          type: array
          items:
            type: string
        uniqueColumns:
          type: array
          items:
            type: string
        requiredParams:
          type: array
          items:
            type: string
        lastSyncedAt:
          type: string
          format: date-time
        customQueryDefined:
          type: boolean
    DataPipelineJobDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        jobGroupId:
          type: string
        status:
          type: string
          enum:
          - QUEUED
          - STARTED
          - FAILED
          - CANCELLED
          - COMPLETED
          - PENDING
          - RUNNING
          - INCOMPLETE
          - SUCCEEDED
          - DELETED
          - UNKNOWN
          - PRE_VALIDATION_FAILED
          - POST_VALIDATION_FAILED
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        startedBy:
          $ref: '#/components/schemas/UserDTO'
        cancelledBy:
          $ref: '#/components/schemas/UserDTO'
        parentId:
          type: integer
          format: int64
        totalStats:
          type: string
        failureReason:
          type: string
        streams:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineJobStreamDTO'
        processes:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineJobProcessDTO'
        sparkJobInfo:
          type: array
          items:
            $ref: '#/components/schemas/SparkJobDataDTO'
        parameters:
          type: object
          additionalProperties:
            type: object
        nodeGroupConfig:
          type: object
          additionalProperties:
            type: string
    DataPipelineJobStreamDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        query:
          type: string
        status:
          type: string
        dataPipelineStreamId:
          type: integer
          format: int64
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
    EnumOptionValue:
      type: object
      properties:
        value:
          type: object
        label:
          type: string
    DataPipelinePaginatedResponseDTO:
      type: object
      properties:
        dataPipelineResponses:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineResponseV2DTO'
        page:
          $ref: '#/components/schemas/PageDTO'
    ViewDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        isMaster:
          type: boolean
        tableId:
          type: string
        position:
          type: number
          format: double
        name:
          type: string
        type:
          type: string
        description:
          type: string
        filterOptions:
          $ref: '#/components/schemas/FilterOptionDTO'
        groupOptions:
          type: array
          items:
            $ref: '#/components/schemas/GroupOptionDTO'
        sortOptions:
          type: array
          items:
            $ref: '#/components/schemas/SortOptionDTO'
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        filterParams:
          type: object
          additionalProperties:
            type: object
        whereClause:
          type: string
        query:
          type: string
        tableName:
          type: string
    ColumnSettingsDTO:
      type: object
      properties:
        enableUserAddNotifications:
          type: boolean
        aiSettings:
          $ref: '#/components/schemas/AIGenerateSettingsDTO'
        attachmentSettings:
          $ref: '#/components/schemas/AttachmentSettingsDTO'
    DataSourceFileDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
        tableId:
          type: integer
          format: int64
        datasourceId:
          type: integer
          format: int64
        byteSize:
          type: integer
          format: int64
    IndexDTO:
      type: object
      properties:
        name:
          type: string
        nonUnique:
          type: boolean
        qualifier:
          type: string
        type:
          type: string
        ordinalPosition:
          type: string
        columnName:
          type: string
        sortSequence:
          type: string
        cardinality:
          type: string
        pages:
          type: string
        filterCondition:
          type: string
    Time:
      type: object
      properties:
        unit:
          type: integer
          format: int64
        unitType:
          type: string
          enum:
          - NONE
          - YEAR
          - QUARTER
          - MONTH
          - WEEK
          - DAY
          - HOUR
          - MINUTE
          - SECOND
          - QUARTER_OF_YEAR
          - MONTH_OF_YEAR
          - WEEK_OF_YEAR
          - DAY_OF_MONTH
          - HOUR_OF_DAY
          - DAY_OF_WEEK
    JoinConditionDTO:
      type: object
      properties:
        targetTableId:
          type: string
        joinConditionExpression:
          type: string
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        selectedColumnIds:
          type: array
          items:
            type: string
    DataPipelineResponseV2DTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        syncNow:
          type: boolean
        name:
          type: string
        type:
          type: string
          enum:
          - CUSTOM
          - STANDARD
          - DEDUP
        scheduleType:
          type: string
          enum:
          - CRON
          - MANUAL
          - SCHEDULED
          - DATA_CHANGE
        schedule:
          $ref: '#/components/schemas/ScheduleData'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceDTO'
        destination:
          $ref: '#/components/schemas/DataSourceDTO'
        clonedParentId:
          type: integer
          format: int64
        where:
          $ref: '#/components/schemas/WhereClause'
        isMvPipeline:
          type: boolean
        isLastMilePipeline:
          type: boolean
        parentId:
          type: integer
          format: int64
        processes:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineProcessDTO'
        workbookMetadata:
          type: object
          additionalProperties:
            type: object
        parameters:
          type: object
          additionalProperties:
            type: object
        streams:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineStreamDTO'
        children:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineV2DTO'
        description:
          type: string
        queryEngine:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        dagRunId:
          type: integer
          format: int64
        nodeGroupConfig:
          $ref: '#/components/schemas/DataPipelineNodeGroupConfig'
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineJobDTO'
        nextFireTimes:
          type: array
          items:
            type: string
            format: date-time
    TableDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        workspaceId:
          type: string
        position:
          type: number
          format: double
        tableName:
          type: string
        description:
          type: string
        tableType:
          type: string
          enum:
          - STATIC
          - DYNAMIC
          - HYBRID
        materializedViewId:
          type: integer
          format: int64
        materializedViewQuery:
          type: string
        sourceType:
          type: string
        storageType:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnDTO'
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        requestId:
          type: string
        status:
          type: string
        connectionName:
          type: string
        systemTableName:
          type: string
        companyId:
          type: integer
          format: int64
        pipelineId:
          type: integer
          format: int64
        allowSwitchStorage:
          type: boolean
        dataProvider:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        primaryKeyColumnName:
          type: string
        lastSyncTime:
          type: string
          format: date-time
        deleteGuard:
          type: boolean
        parentId:
          type: string
        isMigrationDone:
          type: boolean
        sparkConnectionName:
          type: string
        warehouseConnectionName:
          type: string
        datasourceIds:
          type: array
          items:
            type: string
        doesCopyExists:
          type: boolean
        lastMilePipelineId:
          type: integer
          format: int64
        positionKeyColumnName:
          type: string
        isAthenaEnabled:
          type: boolean
        isCloudBigQueryEnabled:
          type: boolean
        title:
          type: string
        isBIWorkbook:
          type: boolean
        isSystemGenerated:
          type: boolean
        joinColumnNames:
          type: array
          items:
            type: string
        foreignKeyColumnName:
          type: string
        joinTableName:
          type: string
        s3Uri:
          type: string
        joinRequest:
          $ref: '#/components/schemas/JoinRequest'
        internalTableType:
          type: string
          enum:
          - EXTRACTION
          - EMAIL_CAMPAIGN
          - API_POST
          - TENANT_WORKBOOK
          - ENRICHMENT
        tableSizeBytes:
          type: integer
          format: int64
        sourceQueryEngine:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        tenantConfig:
          type: object
          additionalProperties:
            type: string
        parameterKeys:
          uniqueItems: true
          type: array
          items:
            type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/VersionDTO'
        showVersions:
          type: boolean
        views:
          type: array
          items:
            $ref: '#/components/schemas/ViewDTO'
        latestVersion:
          $ref: '#/components/schemas/VersionDTO'
    WareHouseInfo:
      type: object
      properties:
        parentDataSourceId:
          type: integer
          format: int64
        type:
          type: string
          enum:
          - EXACT_REPLICA
          - DERIVED
    DataSourceSchemaWrapperDTO:
      type: object
      properties:
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/SchemaDTO'
        catalogs:
          type: array
          items:
            $ref: '#/components/schemas/CatalogDTO'
        tables:
          type: array
          items:
            $ref: '#/components/schemas/TableDTO'
        foreignKeys:
          type: array
          items:
            $ref: '#/components/schemas/KeyDTO'
        indexes:
          type: array
          items:
            $ref: '#/components/schemas/IndexDTO'
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnDTO'
    BasicSchedule:
      type: object
      properties:
        timeUnit:
          type: string
          enum:
          - SECOND
          - MINUTE
          - HOURS
          - DAY
          - MONTH
        units:
          type: string
    DataSourceDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        properties:
          type: object
          additionalProperties:
            type: string
        username:
          type: string
        password:
          type: string
        driverName:
          type: string
        type:
          type: string
          enum:
          - SQL
          - REST
          - NO_SQL
          - WAREHOUSE
        subType:
          type: string
          enum:
          - FILE
          - FOLDER
        tables:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceTableDTO'
        wareHouseInfo:
          $ref: '#/components/schemas/WareHouseInfo'
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        createdAt:
          type: string
          format: date-time
        companyId:
          type: integer
          format: int64
        isMvDataSource:
          type: boolean
        caseSensitive:
          type: boolean
        lastSyncedAt:
          type: string
          format: date-time
        lastSyncStatus:
          type: string
        thirdPartyDataSourceId:
          type: string
        format:
          type: string
          enum:
          - PARQUET
          - ICEBERG
        description:
          type: string
        schemaInfo:
          $ref: '#/components/schemas/DataSourceSchemaDTO'
        meta:
          type: object
          additionalProperties:
            type: object
        storageType:
          type: string
          enum:
          - AWS
          - AZURE
          - GCS
        schema:
          type: string
        warehouse:
          type: boolean
        connCatalog:
          type: string
        connSchema:
          type: string
    DataPipelineProcessDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        query:
          type: string
        type:
          type: string
          enum:
          - PRE
          - POST
        rank:
          type: integer
          format: int32
    SchemaDTO:
      type: object
      properties:
        name:
          type: string
        catalogName:
          type: string
    WidgetParameterDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        workspaceId:
          type: string
        name:
          type: string
        key:
          type: string
        type:
          type: string
          enum:
          - TEXT
          - NUMERIC
          - STATIC_ENUM
          - DYNAMIC_ENUM
          - BOOLEAN
          - DATE
          - DATETIME
          - DATE_RANGE
        enumOptions:
          $ref: '#/components/schemas/EnumOptions'
        defaultValue:
          type: object
        createdAt:
          type: string
          format: date-time
        showByDefault:
          type: boolean
        thirdPartyFilters:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyFilterConfigDTO'
    DataPipelineInfoDTO:
      type: object
      properties:
        pipelineId:
          type: integer
          format: int64
        name:
          type: string
    PaginatedDataPipelineJobsDTO:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineJobLiteDTO'
        page:
          $ref: '#/components/schemas/PageDTO'
    GroupOptionDTO:
      type: object
      properties:
        columnId:
          type: string
        direction:
          type: string
        columnName:
          type: string
    DataSourceTableDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        name:
          type: string
        dataSourceId:
          type: integer
          format: int64
        owner:
          type: string
        alias:
          type: string
        namespace:
          type: string
        dataSourceName:
          type: string
        qualifiedName:
          type: string
        description:
          type: string
        columns:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceColumnDTO'
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/AnnotationDTO'
        owners:
          type: array
          items:
            type: integer
            format: int64
        files:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceFileDTO'
        workbookId:
          type: string
    PipelineStream:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        query:
          type: string
        totalStats:
          type: string
        pipelineId:
          type: integer
          format: int64
        jobId:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - QUEUED
          - STARTED
          - FAILED
          - CANCELLED
          - COMPLETED
          - PENDING
          - RUNNING
          - INCOMPLETE
          - SUCCEEDED
          - DELETED
          - UNKNOWN
          - PRE_VALIDATION_FAILED
          - POST_VALIDATION_FAILED
        sparkJobInfo:
          type: array
          items:
            $ref: '#/components/schemas/SparkJobDataDTO'
    ScheduleData:
      type: object
      properties:
        basicSchedule:
          $ref: '#/components/schemas/BasicSchedule'
        cronExpression:
          type: string
        cronExpressionValue:
          type: string
    DataPipelineSearchDTO:
      type: object
      properties:
        searchFilters:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        searchString:
          type: string
        sortByField:
          type: string
    ColumnDTO:
      required:
      - name
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: string
        name:
          type: string
        uiDataType:
          type: string
        idType:
          type: string
        required:
          type: boolean
        description:
          type: string
        formulaType:
          type: string
        formula:
          type: string
        backendDataType:
          type: string
        rawFormula:
          type: string
        status:
          type: string
        eventName:
          type: string
        errorMessage:
          type: string
        rowLevelFormula:
          type: string
        rowLevelFormulaWithParameter:
          type: string
        nestedFormula:
          type: string
        nestedFormulaWithParameter:
          type: string
        nestedRowLevelFormula:
          type: string
        nestedRowLevelFormulaWithParameter:
          type: string
        workspaceId:
          type: string
        isDataEditable:
          type: boolean
        isMetaDataEditable:
          type: boolean
        isEditable:
          type: boolean
        isDataTypeEditable:
          type: boolean
        isDeletable:
          type: boolean
        isColumnLevelFormula:
          type: boolean
        colOptions:
          type: object
          additionalProperties:
            type: object
        uiMetadata:
          type: object
          additionalProperties:
            type: object
        tableId:
          type: string
        requestId:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/WidgetParameterDTO'
        parameterIds:
          type: array
          items:
            type: integer
            format: int64
        isBIFormula:
          type: boolean
        isAudit:
          type: boolean
        isEnriched:
          type: boolean
        isDynamicFormula:
          type: boolean
        isSystemGenerated:
          type: boolean
        settings:
          $ref: '#/components/schemas/ColumnSettingsDTO'
        sourceDatatype:
          type: string
    EnumOptions:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/EnumOptionValue'
        type:
          type: string
          enum:
          - TEXT
          - NUMERIC
          - STATIC_ENUM
          - DYNAMIC_ENUM
          - BOOLEAN
          - DATE
          - DATETIME
          - DATE_RANGE
        sqlQuery:
          type: string
        multipleValuesAllowed:
          type: boolean
        wrapValuesWithinSingleQuotes:
          type: boolean
    VersionDTO:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/UserDTO'
        modifiedBy:
          $ref: '#/components/schemas/UserDTO'
        createDate:
          type: string
          format: date-time
        modiDate:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        name:
          type: string
        dagRunId:
          type: integer
          format: int64
        description:
          type: string
        isDefaultVersion:
          type: boolean
        parameters:
          type: object
          additionalProperties:
            type: object
    SortOptionDTO:
      type: object
      properties:
        columnId:
          type: string
        direction:
          type: string
        columnName:
          type: string
        columnNameWithOutQuotes:
          type: string
        valueOrder:
          uniqueItems: true
          type: array
          items:
            type: string
    DataPipelineV2DTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        syncNow:
          type: boolean
        name:
          type: string
        type:
          type: string
          enum:
          - CUSTOM
          - STANDARD
          - DEDUP
        scheduleType:
          type: string
          enum:
          - CRON
          - MANUAL
          - SCHEDULED
          - DATA_CHANGE
        schedule:
          $ref: '#/components/schemas/ScheduleData'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceDTO'
        destination:
          $ref: '#/components/schemas/DataSourceDTO'
        clonedParentId:
          type: integer
          format: int64
        where:
          $ref: '#/components/schemas/WhereClause'
        isMvPipeline:
          type: boolean
        isLastMilePipeline:
          type: boolean
        parentId:
          type: integer
          format: int64
        processes:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineProcessDTO'
        workbookMetadata:
          type: object
          additionalProperties:
            type: object
        parameters:
          type: object
          additionalProperties:
            type: object
        streams:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineStreamDTO'
        children:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineV2DTO'
        description:
          type: string
        queryEngine:
          type: string
          enum:
          - JDBC
          - SPARK
          - ATHENA
          - SNOWFLAKE
          - BIGQUERY
          - MYSQL
          - SQL_SERVER
          - REDSHIFT
          - CLOUD_BIGQUERY
        dagRunId:
          type: integer
          format: int64
        nodeGroupConfig:
          $ref: '#/components/schemas/DataPipelineNodeGroupConfig'
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    UserDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        companyName:
          type: string
        companyId:
          type: integer
          format: int64
        status:
          type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          uniqueItems: true
          type: array
          items:
            type: string
        joinDate:
          type: string
          format: date-time
        mfaEnabled:
          type: boolean
        redirectToMfaFlow:
          type: boolean
        tokenExpiryTime:
          type: integer
          format: int64
        isServiceAccount:
          type: boolean
        lastLogin:
          type: string
          format: date-time
        signInMethod:
          type: string
          enum:
          - EMAIL
          - GOOGLE
          - MICROSOFT
        isOnboardingCompleted:
          type: boolean
        role:
          type: string
        department:
          type: string
        anonymousUserId:
          type: string
        thirdPartyUser:
          type: boolean
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    DataPipelineLiteDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum:
          - CUSTOM
          - STANDARD
          - DEDUP
        outputTableName:
          type: string
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/DataPipelineJobDTO'
    RowDataDTO:
      type: object
      properties:
        id:
          type: object
        position:
          type: number
          format: double
        fkId:
          type: object
        cellValues:
          type: object
          additionalProperties:
            type: object
        cellValuesByColumnId:
          type: object
          additionalProperties:
            type: object
        linkRecords:
          type: array
          items:
            $ref: '#/components/schemas/LinkRecordDTO'
    SparkJobDataDTO:
      type: object
      properties:
        query:
          type: string
        submitTime:
          type: integer
          format: int64
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        waitTime:
          type: integer
          format: int64
        stream:
          type: string
    DataPipelineJobV2DTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        jobGroupId:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        startedBy:
          $ref: '#/components/schemas/UserDTO'
        cancelledBy:
          $ref: '#/components/schemas/UserDTO'
        status:
          type: string
          enum:
          - QUEUED
          - STARTED
          - FAILED
          - CANCELLED
          - COMPLETED
          - PENDING
          - RUNNING
          - INCOMPLETE
          - SUCCEEDED
          - DELETED
          - UNKNOWN
          - PRE_VALIDATION_FAILED
          - POST_VALIDATION_FAILED
        streams:
          type: array
          items:
            $ref: '#/components/schemas/PipelineStream'
        totalStats:
          type: string
    WhereClause:
      type: object
      properties:
        value:
          type: string
        streams:
          uniqueItems: true
          type: array
          items:
            type: string
        requiredParams:
          type: array
          items:
            type: string
    FilterOptionDTO:
      type: object
      properties:
        field:
          type: string
        value:
          type: object
        operator:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RuleDTO'
        combinator:
          type: string
        not:
          type: boolean
        valueSource:
          type: string
    DataSourceColumnDTO:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        table:
          $ref: '#/components/schemas/DataSourceTableDTO'
        dataType:
          type: string
        qualifiedName:
          type: string
        description:
          type: string
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/AnnotationDTO'
        tableId:
          type: integer
          format: int64
        datasourceId:
          type: integer
          format: int64
        isPartitionCol:
          type: boolean
        partitionColSize:
          type: integer
          format: int32
        isUniqueCol:
          type: boolean
        sourceDataType:
          type: string
    AIGenerateSettingsDTO:
      type: object
      properties:
        prompt:
          type: string
        model:
          type: string
        webAccess:
          type: boolean
        enabled:
          type: boolean
        webAccessProvider:
          type: string
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
