openapi: 3.2.0
info:
  title: Saasxl-api doc KB Connectors API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: KB Connectors
paths:
  /kb/api/v1/records/{id}/tags:
    get:
      tags:
      - KB Connectors
      summary: Get user-defined tags for a KB record
      operationId: getRecordTags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    put:
      tags:
      - KB Connectors
      summary: Set user-defined tags for a KB record
      operationId: updateRecordTags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRecordDTO'
  /kb/api/v1/records/{id}/config:
    get:
      tags:
      - KB Connectors
      summary: Get parser override config for a KB record, or null if none set
      operationId: getRecordConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
    put:
      tags:
      - KB Connectors
      summary: Set parser override config for a KB record
      description: Overrides connector-level indexing settings for this specific record. recordLevel > connectorLevel > systemDefault. Set pdfParser=null to clear the override and inherit from connector config.
      operationId: updateRecordConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbRecordConfigDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRecordDTO'
  /kb/api/v1/connectors/{id}:
    get:
      tags:
      - KB Connectors
      summary: Get a KB connector by ID
      operationId: getConnector
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbConnectorDTO'
    put:
      tags:
      - KB Connectors
      summary: Update a KB connector
      operationId: updateConnector
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbConnectorUpdateDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbConnectorDTO'
    delete:
      tags:
      - KB Connectors
      summary: Delete (soft) a KB connector
      operationId: deleteConnector
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /kb/api/v1/connectors/{id}/config:
    get:
      tags:
      - KB Connectors
      summary: Get the config for a connector, or null if none exists yet
      operationId: getConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbConfigDTO'
    put:
      tags:
      - KB Connectors
      summary: Create or update the config for a connector
      operationId: upsertConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbConfigCreateDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbConfigDTO'
  /kb/api/v1/runs/{runId}/cancel:
    post:
      tags:
      - KB Connectors
      summary: Cancel a running sync
      operationId: cancelRun
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /kb/api/v1/records/{id}/reindex:
    post:
      tags:
      - KB Connectors
      summary: Trigger reindex for a KB record
      operationId: reindexRecord
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRecordDTO'
  /kb/api/v1/indexJobs/{id}/retry:
    post:
      tags:
      - KB Connectors
      summary: Retry a failed index job
      operationId: retryIndexJob
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbIndexJobDTO'
  /kb/api/v1/credentials/resolveUrl:
    post:
      tags:
      - KB Connectors
      summary: Resolve URLs using a credential ID
      description: Resolves share URLs (e.g. Google Drive folder/file links) using a credential directly, without requiring an existing connector. Connector type is derived from the credential.
      operationId: resolveUrlsByCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbResolveUrlByCredentialRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KbResolveUrlItemDTO'
  /kb/api/v1/connectors:
    get:
      tags:
      - KB Connectors
      summary: List KB connectors created by the current user
      operationId: listConnectors_1
      parameters:
      - name: sourceId
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - GMAIL
          - GOOGLE_DRIVE
          - GOOGLE_SPACES
          - WEB
          - S3
          - GCS
          - AZURE_BLOB
          - ONEDRIVE
          - SHAREPOINT
          - SLACK
          - CONFLUENCE
          - JIRA
          - WORKBOOK
          - WORKSPACE_DOCUMENTS
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - KB Connectors
      summary: Create a KB connector
      operationId: createConnector
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbConnectorCreateDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbConnectorDTO'
  /kb/api/v1/connectors/{id}/workbook/search:
    post:
      tags:
      - KB Connectors
      summary: Semantic search within a WORKBOOK connector's Qdrant collection
      description: Collection name is derived as table_<tableId> from the connector's active syncJson. No storage of collection name is needed — it is always recomputable.
      operationId: searchWorkbook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbWorkbookSearchDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbWorkbookSearchResultDTO'
  /kb/api/v1/connectors/{id}/sync:
    post:
      tags:
      - KB Connectors
      summary: Trigger a sync run for a connector
      operationId: triggerSync
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbTriggerSyncDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRunDTO'
  /kb/api/v1/connectors/{id}/resolveUrl:
    post:
      tags:
      - KB Connectors
      summary: Resolve a list of connector URLs to [{id, name, type}]
      description: Accepts share URLs (e.g. Google Drive folder/file links) and returns the resolved [{id, name, type}] list ready to be stored in syncConfig.include.
      operationId: resolveUrls
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbResolveUrlRequestDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KbResolveUrlItemDTO'
  /kb/api/v1/connectors/migrate/workspace-documents:
    post:
      tags:
      - KB Connectors
      summary: Migrate old RAG workspaces to WORKSPACE_DOCUMENTS connectors
      description: Finds all workspaces with isConnectorCreated=true, creates a WORKSPACE_DOCUMENTS connector for each, and triggers a FULL sync. Skips workspaces that already have one.
      operationId: migrateWorkspaceDocuments
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: string
  /kb/api/v1/connectors/bySource/workbook/search:
    post:
      tags:
      - KB Connectors
      summary: Semantic search by sourceId + type — looks up the connector then searches
      description: Resolves the connector from (type, sourceId) and performs workbook search. For WORKBOOK type, sourceId is the NocoDB tableId.
      operationId: searchWorkbookBySource_1
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - GMAIL
          - GOOGLE_DRIVE
          - GOOGLE_SPACES
          - WEB
          - S3
          - GCS
          - AZURE_BLOB
          - ONEDRIVE
          - SHAREPOINT
          - SLACK
          - CONFLUENCE
          - JIRA
          - WORKBOOK
          - WORKSPACE_DOCUMENTS
      - name: sourceId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KbWorkbookSearchDTO'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbWorkbookSearchResultDTO'
  /kb/api/v1/runs/{runId}:
    get:
      tags:
      - KB Connectors
      summary: Get a run by ID
      operationId: getRun
      parameters:
      - name: runId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRunDTO'
  /kb/api/v1/records:
    get:
      tags:
      - KB Connectors
      summary: List KB records — optionally filtered by group, indexing status, and/or title search
      operationId: listRecords
      parameters:
      - name: connectorId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: groupId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - QUEUED
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - SKIPPED
          - AUTO_INDEX_OFF
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseDTOKbRecordDTO'
  /kb/api/v1/records/{id}:
    get:
      tags:
      - KB Connectors
      summary: Get a KB record by ID
      operationId: getRecord
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRecordDTO'
    delete:
      tags:
      - KB Connectors
      summary: Delete a KB record and its vectors
      operationId: deleteRecord
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
  /kb/api/v1/pipelineConfigSchema:
    get:
      tags:
      - KB Connectors
      summary: Get the pipeline config UI schema
      description: Returns the JSON schema that the UI uses to dynamically render the pipeline settings form (parsing + chunking). Company-scoped overrides take precedence over the system default.
      operationId: getPipelineConfigSchema
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /kb/api/v1/indexJobs:
    get:
      tags:
      - KB Connectors
      summary: List index jobs
      operationId: listIndexJobs
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - QUEUED
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELLED
      - name: recordId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseDTOKbIndexJobDTO'
  /kb/api/v1/indexJobs/{id}:
    get:
      tags:
      - KB Connectors
      summary: Get an index job by ID
      operationId: getIndexJob
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbIndexJobDTO'
  /kb/api/v1/groups/{groupId}:
    get:
      tags:
      - KB Connectors
      summary: Get a record group by ID
      operationId: getRecordGroup
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbRecordGroupDTO'
  /kb/api/v1/connectors/{id}/stats:
    get:
      tags:
      - KB Connectors
      summary: Get indexing stats for a KB connector
      operationId: getConnectorStats
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbConnectorStatsDTO'
  /kb/api/v1/connectors/{id}/runs:
    get:
      tags:
      - KB Connectors
      summary: List runs for a connector
      operationId: listRuns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseDTOKbRunDTO'
  /kb/api/v1/connectors/{id}/groups:
    get:
      tags:
      - KB Connectors
      summary: List record groups for a connector (Drive roots, mailboxes, buckets, etc.)
      operationId: listRecordGroups
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KbRecordGroupDTO'
  /kb/api/v1/connectors/{id}/browse:
    get:
      tags:
      - KB Connectors
      summary: Browse folders/files for a connector
      description: Returns the children of parentId (root if omitted). Pass nextCursor from the previous response to load more items. Used by the UI folder picker to build the selection tree for syncJson.folders.
      operationId: browse
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: parentId
        in: query
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 500
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KbBrowseResponseDTO'
components:
  schemas:
    PageResponseDTOKbRunDTO:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/KbRunDTO'
    KbRunDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        connectorId:
          type: string
          format: uuid
        runType:
          type: string
          enum:
          - FULL
          - INCREMENTAL
          - MANUAL
          - REINDEX
        status:
          type: string
          enum:
          - RUNNING
          - SUCCESS
          - FAILED
          - PARTIAL
          - CANCELLED
        temporalWorkflowId:
          type: string
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        errorMessage:
          type: string
        statsJson:
          type: object
          additionalProperties:
            type: object
        checkpointJson:
          type: object
          additionalProperties:
            type: object
    KbConfigDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        connectorId:
          type: string
          format: uuid
        credentialId:
          type: integer
          format: int64
        credentialName:
          type: string
        credentialStatus:
          type: string
        syncJson:
          type: object
          additionalProperties:
            type: object
        filtersJson:
          type: object
          additionalProperties:
            type: object
        scheduleJson:
          type: object
          additionalProperties:
            type: object
        indexJson:
          type: object
          additionalProperties:
            type: object
        advancedJson:
          type: object
          additionalProperties:
            type: object
    KbBrowseResponseDTO:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/KbBrowseItemDTO'
        hasMore:
          type: boolean
        totalCount:
          type: integer
          format: int32
        nextCursor:
          type: string
    KbConnectorDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        type:
          type: string
          enum:
          - GMAIL
          - GOOGLE_DRIVE
          - GOOGLE_SPACES
          - WEB
          - S3
          - GCS
          - AZURE_BLOB
          - ONEDRIVE
          - SHAREPOINT
          - SLACK
          - CONFLUENCE
          - JIRA
          - WORKBOOK
          - WORKSPACE_DOCUMENTS
        name:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - ERROR
        lastSyncAt:
          type: string
          format: date-time
        lastSyncStatus:
          type: string
        sourceId:
          type: string
        credentialId:
          type: integer
          format: int64
        activeConfig:
          $ref: '#/components/schemas/KbConfigDTO'
        latestRun:
          $ref: '#/components/schemas/KbRunDTO'
        stats:
          $ref: '#/components/schemas/KbConnectorStatsDTO'
    KbResolveUrlRequestDTO:
      type: object
      properties:
        urls:
          type: array
          items:
            type: string
    PageResponseDTOKbRecordDTO:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/KbRecordDTO'
    KbResolveUrlItemDTO:
      type: object
      properties:
        url:
          type: string
        id:
          type: string
        name:
          type: string
        type:
          type: string
        driveId:
          type: string
        error:
          type: string
    KbBrowseItemDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        hasChildren:
          type: boolean
    KbRecordDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        connectorId:
          type: string
          format: uuid
        recordGroupId:
          type: string
          format: uuid
        recordGroupName:
          type: string
        externalRecordId:
          type: string
        sourceType:
          type: string
          enum:
          - GMAIL
          - GOOGLE_DRIVE
          - GOOGLE_SPACES
          - WEB
          - S3
          - GCS
          - AZURE_BLOB
          - ONEDRIVE
          - SHAREPOINT
          - SLACK
          - CONFLUENCE
        recordType:
          type: string
          enum:
          - WEBPAGE
          - FILE
          - MAIL
          - OBJECT
          - BLOB
          - MESSAGE
          - TICKET
        title:
          type: string
        mimeType:
          type: string
        sizeBytes:
          type: integer
          format: int64
        webUrl:
          type: string
        indexingStatus:
          type: string
          enum:
          - QUEUED
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - SKIPPED
          - AUTO_INDEX_OFF
        indexingError:
          type: string
        indexedAt:
          type: string
          format: date-time
        sourceCreatedAt:
          type: string
          format: date-time
        sourceUpdatedAt:
          type: string
          format: date-time
        parserConfig:
          type: object
          additionalProperties:
            type: object
        tags:
          type: object
          additionalProperties:
            type: object
    PageResponseDTOKbIndexJobDTO:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/KbIndexJobDTO'
    KbWorkbookSearchResultDTO:
      type: object
      properties:
        collectionName:
          type: string
        hits:
          type: array
          items:
            $ref: '#/components/schemas/Hit'
    KbConfigCreateDTO:
      type: object
      properties:
        syncJson:
          type: object
          additionalProperties:
            type: object
        filtersJson:
          type: object
          additionalProperties:
            type: object
        scheduleJson:
          type: object
          additionalProperties:
            type: object
        indexJson:
          type: object
          additionalProperties:
            type: object
        advancedJson:
          type: object
          additionalProperties:
            type: object
    KbWorkbookSearchDTO:
      type: object
      properties:
        query:
          type: string
        filters:
          type: object
          additionalProperties:
            type: object
        limit:
          type: integer
          format: int32
    KbRecordGroupDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: integer
          format: int64
        connectorId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - WEB_SITE
          - S3_BUCKET
          - S3_FOLDER
          - GCS_BUCKET
          - AZ_CONTAINER
          - GMAIL_MAILBOX
          - DRIVE_ROOT
          - DRIVE_FOLDER
          - ONEDRIVE_ROOT
          - ONEDRIVE_DRIVE
          - SHAREPOINT_DOCUMENT_LIBRARY
          - SLACK_CHANNEL
          - CONFLUENCE_SPACE
          - GOOGLE_SPACES_SPACE
        name:
          type: string
        externalGroupId:
          type: string
        recordCount:
          type: integer
          format: int64
    Hit:
      type: object
      properties:
        pointId:
          type: string
        rowId:
          type: string
        pageContent:
          type: string
        score:
          type: number
          format: float
        metadata:
          type: object
          additionalProperties:
            type: object
    KbRecordConfigDTO:
      type: object
      properties:
        pdfParser:
          type: string
        ocrEnabled:
          type: boolean
    KbConnectorCreateDTO:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - GMAIL
          - GOOGLE_DRIVE
          - GOOGLE_SPACES
          - WEB
          - S3
          - GCS
          - AZURE_BLOB
          - ONEDRIVE
          - SHAREPOINT
          - SLACK
          - CONFLUENCE
          - JIRA
          - WORKBOOK
          - WORKSPACE_DOCUMENTS
        credentialId:
          type: integer
          format: int64
        sourceId:
          type: string
    KbTriggerSyncDTO:
      type: object
      properties:
        runType:
          type: string
          enum:
          - FULL
          - INCREMENTAL
          - MANUAL
          - REINDEX
        checkpointOverride:
          type: object
          additionalProperties:
            type: object
    KbResolveUrlByCredentialRequestDTO:
      required:
      - credentialId
      - urls
      type: object
      properties:
        credentialId:
          type: integer
          format: int64
        urls:
          type: array
          items:
            type: string
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    KbConnectorStatsDTO:
      type: object
      properties:
        connectorId:
          type: string
          format: uuid
        total:
          type: integer
          format: int64
        queued:
          type: integer
          format: int64
        inProgress:
          type: integer
          format: int64
        completed:
          type: integer
          format: int64
        failed:
          type: integer
          format: int64
        skipped:
          type: integer
          format: int64
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
    KbIndexJobDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        recordId:
          type: string
          format: uuid
        jobType:
          type: string
          enum:
          - INDEX
          - REINDEX
          - DELETE
          - METADATA_UPDATE
        status:
          type: string
          enum:
          - QUEUED
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELLED
        currentActivity:
          type: string
        chunkedS3Key:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        attemptCount:
          type: integer
          format: int32
        errorMessage:
          type: string
    KbConnectorUpdateDTO:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - ERROR
        credentialId:
          type: integer
          format: int64
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
