openapi: 3.2.0
info:
  title: Saasxl-api doc Catalog Search Controller API
  version: '1.0'
servers:
- url: https://datagol-be.events.com
  description: Generated server url
tags:
- name: catalog-search-controller
paths:
  /catalog/api/v1/search/dataSources:
    get:
      tags:
      - catalog-search-controller
      description: Search across dataSources by name, table name, and column name
      operationId: searchDataSources
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      - name: dataSourceId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                oneOf:
                - type: object
                - $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaasxlResponseDTOObject'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSourceSearchItemDTO'
components:
  schemas:
    DataSourceSearchItemDTO:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        name:
          type: string
        description:
          type: string
        datasourceId:
          type: string
        datasourceTableId:
          type: string
        datasourceName:
          type: string
        datasourceTableName:
          type: string
        datasourceType:
          type: string
        datasourceProvider:
          type: string
    SaasxlResponseDTOObject:
      type: object
      properties:
        success:
          type: boolean
        version:
          type: string
        date:
          type: string
          format: date-time
        error:
          $ref: '#/components/schemas/ErrorMessage'
        data:
          type: object
    ErrorMessage:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        requestId:
          type: string
        message:
          type: object
        details:
          type: object
        errorCodes:
          type: array
          items:
            type: string
  securitySchemes:
    s_jwt:
      type: http
      description: Jwt Token
      scheme: bearer
      bearerFormat: JWT
