{"openapi":"3.0.1","info":{"title":"Saasxl-api doc","version":"1.0"},"servers":[{"url":"https://datagol-be.events.com","description":"Generated server url"}],"tags":[{"name":"Element Permissions","description":"Operations for managing element permissions"},{"name":"Agent MCP","description":"Manage company-level MCP servers for custom agents"},{"name":"MCP Connectors","description":"Register MCP server OAuth2 credentials via auto-discovery. Supports authorization_code (redirect) and client_credentials (immediate) flows."},{"name":"Workbook Enrichments","description":"Configure and run AI enrichments on workbook table rows using Databar"},{"name":"MCP Connector Auth","description":"Unified connect-or-initiate flow for known connectors (Gmail, Google Drive, Calendar) via Composio, with per-company auth mapping and per-user connections."},{"name":"AppX Deployment","description":"Deploy and manage AppX apps in EKS"},{"name":"Custom Agents","description":"Custom agent CRUD, runs, and schedule management"},{"name":"Alert History","description":"APIs for managing alert execution history"},{"name":"Third Party Pages","description":"Resolve embedded page or agent config for third-party integrations"}],"paths":{"/workflow/trigger/api/v1/{id}":{"put":{"tags":["trigger-type-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerTypeDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TriggerTypeDTO"}}}}}}},"/workflow/api/v1/{id}":{"get":{"tags":["work-flow-controller"],"operationId":"getWfById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOWorkFlowDTO"}}}}},"deprecated":true},"put":{"tags":["work-flow-controller"],"operationId":"updateWf","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkFlowDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOWorkFlowDTO"}}}}},"deprecated":true},"delete":{"tags":["work-flow-controller"],"operationId":"deleteWfById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"deprecated":true}},"/unRealEngine/api/v1/unrealEngineConfigurations/{configurationId}":{"get":{"tags":["unreal-engine-controller"],"operationId":"getById","parameters":[{"name":"configurationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnrealEngineConfigurationDTO"}}}}}},"put":{"tags":["unreal-engine-controller"],"operationId":"update_1","parameters":[{"name":"configurationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnrealEngineConfigurationDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnrealEngineConfigurationDTO"}}}}}},"delete":{"tags":["unreal-engine-controller"],"operationId":"deleteById","parameters":[{"name":"configurationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}}}},"/skills/api/v1/{skillId}":{"get":{"tags":["agent-skill-controller"],"operationId":"getSkill","parameters":[{"name":"skillId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgentSkillDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["agent-skill-controller"],"operationId":"updateSkill","parameters":[{"name":"skillId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentSkillDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgentSkillDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["agent-skill-controller"],"operationId":"deleteSkill","parameters":[{"name":"skillId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"force","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/skills/api/v1/{skillId}/upload":{"put":{"tags":["agent-skill-controller"],"operationId":"updateSkillMarkdown","parameters":[{"name":"skillId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}},{"name":"enabled","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"s3Prefix","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgentSkillDTO"}}}}},"security":[{"s_jwt":[]}]}},"/orchestrator/api/v1/workflowTemplates/{id}":{"get":{"tags":["workflow-template-controller"],"summary":"Get workflow template by id","description":"Loads by id with active=true (soft-deleted templates are not returned). The template must belong to the logged-in user's company.","operationId":"getById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowTemplateResponse"}}}}}},"put":{"tags":["workflow-template-controller"],"summary":"Update workflow template","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowTemplateRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowTemplateResponse"}}}}}},"delete":{"tags":["workflow-template-controller"],"summary":"Soft-delete workflow template","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}}}},"/orchestration/api/v1/dags/{dagId}":{"get":{"tags":["orchestration-controller"],"operationId":"getDagById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagDTO"}}}}}},"put":{"tags":["orchestration-controller"],"operationId":"updateDagById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagDTO"}}}}}},"delete":{"tags":["orchestration-controller"],"operationId":"deleteDagById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagDTO"}}}}}}},"/orchestration/api/v1/dags/{dagId}/runs/{runId}":{"get":{"tags":["orchestration-controller"],"operationId":"getDagRunById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"runId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagRunDTO"}}}}}},"put":{"tags":["orchestration-controller"],"operationId":"updateDagRun","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"runId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagRunDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagRunDTO"}}}}}}},"/orchestration/api/v1/dags/{dagId}/nodes":{"put":{"tags":["orchestration-controller"],"operationId":"updateNodes","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseDTODagNodeDTO"}}}}}},"post":{"tags":["orchestration-controller"],"operationId":"createNode","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagNodeDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagNodeDTO"}}}}}}},"/orchestration/api/v1/dags/{dagId}/nodes/{nodeId}":{"put":{"tags":["orchestration-controller"],"operationId":"updateNodeById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"nodeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagNodeDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagNodeDTO"}}}}}},"delete":{"tags":["orchestration-controller"],"operationId":"deleteNodeById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"nodeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagNodeDTO"}}}}}}},"/orchestration/api/v1/dags/{dagId}/edges/{nodeId}":{"put":{"tags":["orchestration-controller"],"operationId":"updateEdgeById","parameters":[{"name":"dagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"nodeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagEdgeDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DagEdgeDTO"}}}}}}},"/noCo/api/v3/workspaces/{workspaceId}/bi/{id}":{"put":{"tags":["NoCoDbV3"],"operationId":"modify","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BIV3DTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIV3DTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV3"],"operationId":"delete_2","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v3/workspaces/{workspaceId}/bi/{biId}/interfaces/{interfaceId}/pages/{pageId}/config/{id}":{"get":{"tags":["NoCoDbV3"],"operationId":"getInterfacePageConfig","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interfaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIInterfacePageConfigurationDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["NoCoDbV3"],"operationId":"updateInterfacePageConfig","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interfaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BIInterfacePageConfigurationDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIInterfacePageConfigurationDTO"}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v3/workspaces/{workspaceId}/bi/{biId}/interfaces/{interfaceId}/pages/{pageId}/config/{configId}/widgets/{id}":{"put":{"tags":["NoCoDbV3"],"operationId":"updateInterfacePageConfigWidget","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interfaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"configId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BIWidgetDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIWidgetDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV3"],"operationId":"deleteInterfacePageConfigWidget","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interfaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"configId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v3/workspaces/{workspaceId}/bi/{biId}/interfaces/{interfaceId}/pages/{id}":{"put":{"tags":["NoCoDbV3"],"operationId":"updateInterfacePage","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interfaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BIInterfacePageDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIInterfacePageDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV3"],"operationId":"deleteInterfacePage","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"interfaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v3/workspaces/{workspaceId}/bi/{biId}/interfaces/{id}":{"put":{"tags":["NoCoDbV3"],"operationId":"updateInterface","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BiInterfaceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BiInterfaceDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV3"],"operationId":"deleteInterface","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"biId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}":{"get":{"tags":["NoCoDbV2"],"operationId":"getById_2","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string"}},{"name":"resourceId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseWorkSpaceDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["NoCoDbV2"],"operationId":"modifyWorkSpace","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseWorkSpaceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseWorkSpaceDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteWorkSpace","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/workflow/{id}":{"get":{"tags":["work-flow-v-2-controller"],"operationId":"getWfById_1","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOWorkFlowDTO"}}}}}},"put":{"tags":["work-flow-v-2-controller"],"operationId":"updateWf_1","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkFlowDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOWorkFlowDTO"}}}}}},"delete":{"tags":["work-flow-v-2-controller"],"operationId":"deleteWfById_1","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}}}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}":{"get":{"tags":["NoCoDbV2"],"operationId":"getTable","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"isIncludeBIColumns","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"versionId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string"}},{"name":"resourceId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["NoCoDbV2"],"operationId":"modifyTable","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteTable","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/views":{"put":{"tags":["NoCoDb"],"operationId":"modifyViews","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ViewDTO"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableViewDTO"}}}}}},"security":[{"s_jwt":[]}]},"post":{"tags":["NoCoDb"],"operationId":"createView","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableViewDTO"}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/views/{viewId}":{"get":{"tags":["NoCoDb"],"operationId":"getViewDTO","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"viewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableViewDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["NoCoDb"],"operationId":"modify_1","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"viewId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableViewDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDb"],"operationId":"deleteView","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"viewId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/rows":{"put":{"tags":["NoCoDbV2"],"operationId":"updateRow","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RowDataDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RowDataDTO"}}}}},"security":[{"s_jwt":[]}]},"post":{"tags":["NoCoDbV2"],"operationId":"addRow","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RowDataDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RowDataDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteRows","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRowDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/rows/bulk":{"put":{"tags":["NoCoDbV2"],"operationId":"updateRows","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowDataDTO"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowDataDTO"}}}}}},"security":[{"s_jwt":[]}]},"post":{"tags":["NoCoDbV2"],"operationId":"addRows","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowDataDTO"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RowDataDTO"}}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/query":{"put":{"tags":["NoCoDbV2"],"operationId":"updateQuery","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoCoQueryDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableDTO"}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/joinConditions":{"put":{"tags":["NoCoDbV2"],"operationId":"updateJoinConditions","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableDTO"}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/enrichments/{id}":{"put":{"tags":["Workbook Enrichments"],"summary":"Update an existing enrichment configuration","operationId":"updateEnrichment","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookEnrichmentDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOWorkbookEnrichmentDTO"}}}}}},"delete":{"tags":["Workbook Enrichments"],"summary":"Delete an enrichment configuration","operationId":"deleteEnrichment","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOVoid"}}}}}}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/columns":{"put":{"tags":["NoCoDbV2"],"operationId":"modifyColumns","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ColumnDTOList"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]},"post":{"tags":["NoCoDbV2"],"operationId":"addColumns","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ColumnDTOList"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteColumns","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ColumnDTOList"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/columns/{columnId}":{"get":{"tags":["NoCoDbV2"],"operationId":"getColumn","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"columnId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ColumnDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["NoCoDbV2"],"operationId":"modifyColum","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"columnId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ColumnDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ColumnDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteColumn","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"columnId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/actions/{actionId}":{"put":{"tags":["NoCoDbV2"],"operationId":"updateWorkbookAction","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"actionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkbookActionDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkbookActionDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteWorkbookAction","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"path","required":true,"schema":{"type":"string"}},{"name":"actionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/tables/folders/{folderId}":{"put":{"tags":["folder-controller"],"operationId":"updateFolder","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FolderDTO"}}}}}},"delete":{"tags":["folder-controller"],"operationId":"deleteFolder","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"folderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}}}},"/noCo/api/v2/workspaces/{workspaceId}/parameters/{parameterId}":{"put":{"tags":["NoCoDbV2"],"operationId":"updateParameter","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"parameterId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WidgetParameterDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WidgetParameterDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteParameter","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"parameterId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WidgetParameterDTO"}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/folder/{id}":{"put":{"tags":["NoCoDbV2"],"operationId":"editWorkspaceFolder","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceFileDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkspaceFileDTO"}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/extraction/{id}":{"put":{"tags":["extraction-controller"],"operationId":"updateExtraction","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractionDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtractionDTO"}}}}}},"delete":{"tags":["extraction-controller"],"operationId":"deleteExtraction","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}}}},"/noCo/api/v2/workspaces/{workspaceId}/bulkUsersRole":{"put":{"tags":["NoCoDbV2"],"operationId":"bulkUsersRole","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkSpaceUsersDTO"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkSpaceUsersDTO"}}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/biPage/{pageId}/widgets":{"get":{"tags":["biv-2-controller"],"description":"to get all widgets for given page","operationId":"getWidgets","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WidgetDTO"}}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["biv-2-controller"],"description":"to update all widgets for given page","operationId":"updateWidgets","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WidgetDTO"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WidgetDTO"}}}}}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/biPage/{id}":{"put":{"tags":["biv-2-controller"],"operationId":"modifyPage","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BIPageDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIPageDTO"}}}}},"security":[{"s_jwt":[]}]},"delete":{"tags":["biv-2-controller"],"operationId":"deletePage","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/{workspaceId}/bi/{id}":{"put":{"tags":["NoCoDbV2"],"operationId":"modifyBi","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BIDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BIDTO"}}}}},"deprecated":true,"security":[{"s_jwt":[]}]},"delete":{"tags":["NoCoDbV2"],"operationId":"deleteBI","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK"}},"deprecated":true,"security":[{"s_jwt":[]}]}},"/noCo/api/v2/workspaces/templates/{id}":{"get":{"tags":["workspace-template-controller"],"operationId":"getTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"type":"object"},{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}]}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaasxlResponseDTOObject"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkspaceTemplateDTO"}}}}},"security":[{"s_jwt":[]}]},"put":{"tags":["workspace-template-controller"],"operationId":"updateTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceTemplateDTO"}}},"required":true},"
[...]
